[2016-04-20 03:40] AdamGreenhill opened #2 "Python 3.5 - ImportError: No module named 'src'"
After installing the dependencies, and running the python code

I get the following error:

`

[2016-04-20 05:31] swapagarwal commented on #2
As you can see in the README, we support only python 2.7 at the moment.
I'm closing this as we'll like to stick with one for now, with options being open to add / port to more versions / languages in the future if we get good contributions. :smile:
If you face any problem while using this with the 2.7 version, feel free to reopen this at any time!

[2016-04-20 05:31] #2 closed

[2016-04-21 00:14] swapagarwal opened #4 "Add a curated list of jokes"
The API call in the `joke` module can be prevented by adding a curated list of jokes in the source file itself.
Pros:
- Fewer API calls
- Curated jokes (only include the ones that tickle your funny bone)
- No offensive jokes (sometimes the API returns such type of jokes)

Con:
- The curation effort (only one time!)

[2016-04-21 09:33] kunal15595 opened #6 "Rule based to NLP. Are you sure?"
You shifted from a rule based system to an *online* NLP based system. Is it a complete shift? This would mean that the system would not work offline. This would adversely affect in case of slow internet connection.

[2016-04-21 09:40] swapagarwal commented on #6
Yes, it's a complete shift for now.
However, both the models reside independently in different branches (master and legacy) for any use.
For the system to work offline, the messenger server would have to be local which is not the case.
So, anyway, whenever you're messaging the bot, the processing is done server-side (whether it's rule based or NLP) so the client should not be affected by this.

[2016-04-21 09:42] kunal15595 commented on #6
cool

[2016-04-21 09:42] #6 closed

[2016-04-21 10:15] swapagarwal opened #7 "Add support for various message templates"
- [x] Text
- [x] Image
- [x] Button Template
- [x] Generic Template
- [x] Receipt Template

[2016-04-21 15:37] havanagrawal commented on #4
Hi, I'd like to contribute to this repo.. Please let me know if I can contribute :)
As a small suggestion, perhaps the joke module could have genres, such as "knock knock", "walk into a bar", "meta", "puns", etc.
The user would interact by saying "tell me a knock knock joke". If no genre is mentioned, we just pick out a random one.

[2016-04-21 16:00] swapagarwal commented on #4
You are welcome to contribute!
Only with the help from the community can this become something big.
I like the idea of having genres; I didn't implement it as I couldn't find relevant APIs.
Would you be interested to take this issue and make a list of category-wise good jokes?

[2016-04-22 15:39] g3wanghc opened #10 "Weather"

[2016-04-22 15:41] g3wanghc commented on #10
@swapagarwal I will work on this feature. 😎

[2016-04-22 15:50] #10 closed

[2016-04-23 06:26] swapagarwal opened #14 "Request module not working"
Query: `request`
Expected: The text in the [request.py](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/request.py) file
Actual: No response

[2016-04-23 06:26] swapagarwal commented on #14
maybe something to do with the text content?

[2016-04-23 06:41] swapagarwal opened #15 "HTML entities in output"
Query: define a superhero
Response: ... in popular children`&#39;`s and fantasy literature ...
Expected: ... in popular children's and fantasy literature ...

[2016-04-23 06:43] swapagarwal commented on #15
[this](http://fredericiana.com/2010/10/08/decoding-html-entities-to-text-in-python/) should do

[2016-04-23 07:59] swapagarwal commented on #14
so the message text has a 320 character limit! (the text we're sending in request is of length 386)

[2016-04-23 08:40] #14 closed

[2016-04-23 09:54] swapagarwal opened #16 "Wiki: Add more at wikipedia link"
Link to the corresponding wikipedia page at the end of the summary.

[2016-04-23 10:05] swapagarwal opened #17 "Send large text in response"
The Messenger Send API limits the text to 320 characters! Send them in chunks.

[2016-04-23 11:46] swapagarwal opened #19 "Show specific error messages"
Right now, whenever an error occurs, a generic error message (`something didn't work as expected`) is displayed to the user, who can't determine what went wrong!

[2016-04-23 23:33] AChelikani commented on #16
Added pull request for this

[2016-04-24 01:28] swapagarwal opened #22 "Better dictionary API"
The current API is not so good; replace it with a better one!

[2016-04-24 01:30] swapagarwal opened #23 "Personalize the greeting message"
In the help module, replace `hi there` with the first name of the user.

[2016-04-24 17:35] KartikKannapur opened #25 "Introduction Message Error"
When I enter a query such as `Who are you?` , like so `http://localhost:5000/process/?q=Who are you?` the output I get is `[null, {}]`.

It would probably be better if the output would be the content of the `help` variable under `modules/src/help.py`

[2016-04-24 17:50] KartikKannapur commented on #25
@swapagarwal I have made a temporary fix for this issue. Let me know if this gets fixed after merging some of the other pull requests. Otherwise I'll send one in.

[2016-04-24 18:40] swapagarwal commented on #25
I ran this and got `["help", {}]`.
Can you check again?

[2016-04-26 11:31] KartikKannapur commented on #25
I checked it again and I got `["help", {}]` itself.
Surprising! I'm not quite sure why it returned `[null, {}]` the first time.
The issue is resolved, I'm closing it.

[2016-04-26 11:31] #25 closed

[2016-04-27 17:06] swapagarwal opened #26 "Replace links with buttons"
- [x] book
- [x] movie
- [x] request
- [x] wiki

[2016-04-28 00:34] johndpope opened #27 "Support for AIML2 - training files"
https://github.com/creatorrr/pyAIML

[2016-04-28 06:47] swapagarwal commented on #27
Can you give some example(s) showing how can we utilize this?

[2016-04-28 12:10] johndpope commented on #27
https://github.com/pandorabots/rosie/tree/master/lib/aiml

[2016-05-01 10:07] KartikKannapur commented on #27
@johndpope Thanks for sharing.

AIML seems to take a rule-based approach in building a question-answering system, where most of the responses would have to be hard coded. I think JARVIS would not scale with such a limitation. Also, most of the projects/libraries around AIML are not currently maintained. I suppose we could stick to a text-mining based approach rather than a hard coded rule-based on

[2016-05-01 11:55] swapagarwal commented on #27
Hi @johndpope, I took a look at AIML and I totally agree with @KartikKannapur.
JARVIS aims to learn from human language and respond accordingly. Using AIML will restrict it to a fixed set of queries and scaling it would be quite a tedious task.

[2016-05-01 14:04] havanagrawal opened #31 "Restaurant rating"
Given the name of a restaurant/cafe/pub, find out locations and a (user) rating.

Nice to have:
1. Timings
2. Average bill for 2
3. Suggest location nearest to my current location
4. Specify cuisine

Ambitious:
1. Suggest 5 nearest restaurants based on my preference (eg: Veg, pizza, burger, italian, etc)

Sample queries:

1. How is the food at Starbucks?
2. Does Starbucks have good food?
3. Is Sta

[2016-05-01 15:49] swapagarwal commented on #31
Truth be told, that'd be quite a useful module!
Do you have any APIs in mind where we could get this data from?
Also, the Messenger API doesn't provide us with location data (happy to be wrong here!) so we'd have to take it from the user.

[2016-05-02 14:20] havanagrawal commented on #31
This might be useful: https://developers.zomato.com/api

[2016-05-02 23:16] johndpope commented on #27
I will close this ticket -
fyi
<img width="1290" alt="screen shot 2016-05-02 at 7 13 21 pm" src="https://cloud.githubusercontent.com/assets/289994/14970807/0f817cb0-109a-11e6-9b21-6274cba61a7e.png">

https://docs.api.ai/docs/concept-entities#system-entities

[2016-05-02 23:16] #27 closed

[2016-05-03 09:55] swapagarwal commented on #27
@johndpope we're using an api.ai alternative, see https://wit.ai/swapagarwal/JARVIS-on-Messenger/

[2016-05-03 09:56] swapagarwal commented on #31
Looks good, any takers?

[2016-05-03 15:56] KartikKannapur commented on #31
I can help out.
I have worked with their API earlier, but I didn't find it very stable .. Hopefully things are different now :)
I'll look into it.

[2016-05-04 01:13] swapagarwal commented on #31
Cool, that's great! :smile:

[2016-05-04 19:36] #16 closed

[2016-05-05 16:04] swapagarwal opened #32 "Movie: Add IMDb link"
Link to the corresponding IMDb page at the end of the response.

[2016-05-06 21:53] AChelikani commented on #32
Added pull request!

[2016-05-07 02:01] #32 closed

[2016-05-07 10:26] shanmukhateja commented on #22
Can you elaborate about what needs to be improved? I do not seem to follow

[2016-05-07 10:47] shanmukhateja commented on #4
Hi what should be the **deciding factor** if a joke should be delivered by the API call or from the pre-compiled list within JARVIS?

[2016-05-08 00:05] swapagarwal commented on #22
See this file: https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/dictionary.py
In line number 8, we're using the Glosbe API, which doesn't return good results sometimes. We wish to replace this with a better API.

[2016-05-08 00:06] swapagarwal commented on #4
If we can hand-pick a minimum number (say 10-15) of funny jokes, then we'd remove the API call.

[2016-05-08 03:23] shanmukhateja commented on #4
But don't you think it would be just repeatedly showing these 10-15 only? I think we should make use of both of them.

[2016-05-08 03:26] shanmukhateja commented on #22
Is it okay if I make a web scrapper to deliver the results? I'm working on the Jokes list at the moment so I'll have to postpone this for a while.

[2016-05-08 05:35] swapagarwal commented on #22
Scraping the web would be hacky! We'd like to use a proper API (for easy maintenance).
There's no rush; take your time. :smile:

[2016-05-08 05:39] shanmukhateja commented on #4
Also I propose we use a jokes.txt file for this list.

[2016-05-08 07:00] havanagrawal opened #34 "Caching results to limit requests to APIs"
A lot of API guidelines have one thing in common; they either limit the number of requests made per day, or throttle requests, especially in case of free APIs.

In such a case, eventually, users will be unable to avail these services even if they are repeating a query.

For API's where real-time results are not required (eg: movies, books, jokes, wiki) and **where caching is not against the policy

[2016-05-08 07:59] swapagarwal commented on #4
Those 10-15 can be expanded with time,
The problem with using an API is that sometimes, their jokes can be offensive to someone, so that's why we want hand-picked jokes!

[2016-05-08 08:01] shanmukhateja commented on #4
Understood. I'll submit some 10-15 for starters. We can expand later :)

[2016-05-08 08:06] swapagarwal commented on #34
Hey @havanagrawal, this will actually be quite useful (or more appropriately, required as we expand).
I'll take a look on how to do this, keeping in mind that not all responses can be cached (as you correctly pointed out). Meanwhile, if you get any ideas (approaches), do share on this page.
P.S. Do you use an extension for using those emojis or do you know 'em all? :stuck_out_tongue_winking_eye:

[2016-05-08 15:08] shanmukhateja commented on #4
![ss_joke](https://cloud.githubusercontent.com/assets/5269580/15098490/c67838f2-155c-11e6-9304-11816ee95662.png)
So this is how it's coming up!
 If it's OK...I'll send a pull request. @swapagarwal

[2016-05-08 15:09] shanmukhateja commented on #4
I put a \t\t\t between the joke as a syntax for handling Q&A model jokes.

[2016-05-09 05:52] swapagarwal commented on #4
@shanmukhateja You can send a PR and then we can take the discussion over there. :smile:

[2016-05-11 18:24] jorgeavaldez commented on #23
I can cover this one, I'll update with progress

[2016-05-11 19:03] jorgeavaldez commented on #23
#37 pull request for this issue

[2016-05-13 15:49] havanagrawal commented on #34
The way I see it, there are two scenarios
1. Keyword-less queries: Jokes, quotes, etc do not need entities, only intents, so we could maintain a simple dictionary-like cache, with key as (say) "joke", and the value being a queue of the least-recently-shown jokes
2. Keyword queries: Books, movies, etc have an entity associated with them, and so we'd somehow need to maintain a dictionary-like struct

[2016-05-14 06:07] shanmukhateja commented on #4
Now that this is resolved, shouldn't we close this issue @swapagarwal ?

[2016-05-14 06:17] swapagarwal commented on #4
I'd like to keep this open for newbies to get started with (by adding some more jokes). :smile:

[2016-05-14 06:19] shanmukhateja commented on #4
well then they can open a new one right? Like referencing the same issue multiple times for different commits by different ppl isn't much convincing
 don't you think?

[2016-05-14 06:25] shanmukhateja commented on #4
They can just open a new issue later ;)

[2016-05-14 07:02] swapagarwal commented on #4
Yepp, they can open a new one but keeping this open would encourage new people to start contributing!

[2016-05-14 13:18] akarshHegde commented on #22
Hey, i would like to try this out with your help. This project seems interesting and a issue like this can help me get started

[2016-05-14 13:58] shanmukhateja commented on #22
@swapagarwal  I've been looking into this API for a few days now and I feel their data is very apt.
For free service, they provide 2500 API calls per day.  (Not bad don't you think?)

Check their demo at [WordsAPI](https://www.wordsapi.com/).

[2016-05-14 15:33] swapagarwal commented on #22
@shanmukhateja The WordsAPI looks good; I've signed up and set the environment variable `WORDS_API_KEY` on the server. However, as you're already a contributor, I feel like this time you can guide someone else with their first contribution. (what say?)
Hey @akarshHegde, the low-hanging fruits are solely for this purpose only! :smile:
The request is pretty simple: a GET request to `https://wordsapi

[2016-05-14 15:38] shanmukhateja commented on #22
I'll be happy to help. :)
@akarshHegde why don't you look at the present code that's used in JARVIS for an idea and later work your magic on it ;)

[2016-05-14 16:34] akarshHegde commented on #22
@shanmukhateja @swapagarwal Thank you guys, Already looking into the code :)

[2016-05-14 17:46] akarshHegde commented on #22
@swapagarwal ,  I am not able to figure out where is the access token. Any help?

[2016-05-14 17:53] shanmukhateja commented on #22
I think there is no API in the present API but for the new one, you'll need to add an entry to config.py and later import it to dictionary module

[2016-05-14 17:55] swapagarwal commented on #22
`os.environ.get('WORDS_API_KEY')`

[2016-05-14 17:57] shanmukhateja commented on #22
yes that or you could just add line import config and access the variable as config.WORDS_API_KEY

@swapagarwal any reason for using os.environ.get() instead of normal referencing?

[2016-05-14 18:03] swapagarwal commented on #22
`WORDS_API_KEY = os.environ.get('WORDS_API_KEY', config.WORDS_API_KEY)`
For local development, we can use config but when we check in the file to git version control, it exposes the API key which anyone can misuse, so we set it in environment.

[2016-05-14 18:04] shanmukhateja commented on #22
:o never thought to that level.

[2016-05-14 18:05] shanmukhateja commented on #22
but still any user needs to just open the config.py file and still see the codes right :/

[2016-05-14 18:20] swapagarwal commented on #22
The config.py contains only the placeholders which have to be replaced for local development.

[2016-05-14 18:24] shanmukhateja commented on #22
@swapagarwal I think you've forgotten to place WIT_ACCESS_TOKEN as placeholder as the key is visible. Pl check the config.py file and you'll understand.

[2016-05-14 18:33] akarshHegde commented on #22
Hey, does this code work? i seem to get 500 response code for the get request in local dev.
[code]

[2016-05-14 18:37] swapagarwal commented on #22
@shanmukhateja Nice catch, but that is a client side token, for verification purposes. The main token is still on the server itself.
@akarshHegde Yepp, that looks perfect!

[2016-05-14 18:41] shanmukhateja commented on #22
@swapagarwal maybe some server side tweaks needs to be incorporated?

@akarshHegde did you check if the word variable is correctly detected? If I were you, I'd check that first!

[2016-05-14 18:41] akarshHegde commented on #22
But how do i get it working on local dev? If the token resides on the server , will the code work on local dev setup?

[2016-05-14 18:42] shanmukhateja commented on #22
Come over to gitter I think we are spamming here :/

[2016-05-14 18:43] swapagarwal commented on #22
![](http://www.troll.me/images/pissed-off-obama/dont-worry-and-pullrequest-thumb.jpg)

[2016-05-15 03:25] #22 closed

[2016-05-15 04:53] akarshHegde opened #40 "Anime rating"
Hey, I was thinking of working on the Anime rating feature. There is this Api from [hummingbird.me](https://hummingbird.me/) that seems to be reliable and easy to use.

Check the api structure:

[API-v1](https://github.com/hummingbird-me/hummingbird/wiki/API-v1-Methods )

Let me know your thoughts

[2016-05-15 04:58] shanmukhateja commented on #40
I'm getting a 404 error in every query. :/

[2016-05-15 05:07] swapagarwal commented on #40
@akarshHegde Nice find; looks great! Go ahead, I'll be waiting for your PR. Hit me up if you need any help. :smile:
@shanmukhateja `https://hummingbird.me/api/v1/search/anime?query=death+note`

[2016-05-15 05:28] akarshHegde commented on #40
It seem to work for me. Could you suggest some titles which didn't work for you?
![anime](https://cloud.githubusercontent.com/assets/8245969/15272201/d3071b4a-1a8b-11e6-97dd-65511849fe5f.png)

[2016-05-15 05:33] shanmukhateja commented on #40
It's working. I was sending the query wrong :p (guilty guilty)

[2016-05-15 05:45] akarshHegde commented on #40
Hey @swapagarwal  the PR is ready, but i am not sure how to write the test cases.(I didn't quite understand how tests work :astonished: ) Any suggestions?

[2016-05-15 06:04] swapagarwal commented on #40
You sure learn fast!

[2016-05-15 06:07] akarshHegde commented on #40
:grin:

[2016-05-15 06:12] #40 closed

[2016-05-15 06:19] shanmukhateja opened #42 "Making general conversations"
I think it'll be good if Jarvis can make conversations with us. Say I'm bored and neither of my close friends are online, so I'll text Jarvis like "Hey", " Hi" or "Hello" and so begins the conversation.

[2016-05-15 06:35] shanmukhateja opened #43 "define superhero throws error; other define statements work fine"
So I was testing Jarvis for any bugs and have stumbled upon this.

The thing is if you type "define <anything>" it works but if "define superhero" is issued, it shows the "Something didn't go well" or some message like that. (It's clearly a bug).

[2016-05-15 06:40] swapagarwal commented on #42
Totally agree! This is one of the main focus right now, i.e. remembering the previous context. Can you list some sample conversations to be included?

[2016-05-15 06:43] swapagarwal commented on #43
The Words API doesn't include the definition of superhero. Nothing we can do about that.

[2016-05-15 06:43] shanmukhateja commented on #42
Hi
if(string contains "Hello". toupper())
Sup?
How are you?
Hey Jarvis

every type of conversation starters can be included

[2016-05-15 06:44] shanmukhateja commented on #43
Maybe a better error message to deal with such situations would be nice don't you think?

[2016-05-15 06:46] swapagarwal commented on #43
#19

[2016-05-15 06:49] #43 closed

[2016-05-15 08:07] akarshHegde opened #44 "Random fact feature"
Hey, There is this interesting api i found, which provides random facts related to numbers and dates. We could use this for now.
[Numbersapi](http://numbersapi.com)

Another one,
[FactAPI](http://www.fayd.org/api/)
(returns data in xml)
Let me know your opinions :smiley:

[2016-05-15 08:10] shanmukhateja commented on #44
it's pretty good. I think we can add a facts module and for starters include this it.
Later, we can improve the facts module to include other types of facts too.

[2016-05-15 08:13] akarshHegde commented on #44
Yep, exactly!
@swapagarwal whats your say?

[2016-05-15 08:21] swapagarwal commented on #44
Looks good, go ahead with `http://numbersapi.com/random/trivia`

[2016-05-15 08:48] #44 closed

[2016-05-15 09:36] akarshHegde opened #46 "Calculator feature"
Hey, it would be pretty cool if JARVIS could return some basic calculation results . What do you think?

I also found an api for the same :stuck_out_tongue:
[Calcatraz](https://www.calcatraz.com/calculator/api)

[2016-05-15 09:41] shanmukhateja commented on #46
As much as the idea looks promising, but uh... I think we are making Jarvis into a bot rather than an "intelligent being".

Why not focus our attention towards memorizing context between requests feature so that we can add a conversation module.

[2016-05-15 09:49] akarshHegde commented on #46
I suppose you are right. I was thinking of all the things Siri could do, and wondered if JARVIS could do the same too.

[2016-05-15 09:51] shanmukhateja commented on #46
Ya but we don't wanna make a clone of Siri or it's friends. We want it to be smarter and so should we in deciding what goes in and what doesn't.
I think @swapagarwal would agree to this.

[2016-05-16 08:21] akarshHegde commented on #42
What would be the logic to implement this?? (technical detail)

[2016-05-16 10:01] shanmukhateja commented on #42
I've found a Python program named ChatterBot which can generate conversations. Their "How to" section says:

An untrained instance of ChatterBot starts off with no knowledge of how to communicate. Each time a user enters a statement, the library saves the text that they entered and the text that the statement was in response to. As ChatterBot receives more input the number of responses that it can

[2016-05-16 10:06] shanmukhateja commented on #42
The limitation to that approach is that the bot wouldn't know to be always polite even though negativity or sarcasm is introduced by the user.
It would just become another Microsoft's bot that went good to super bad in less than 24 hrs.

[2016-05-16 12:05] shanmukhateja commented on #19
@swapagarwal Have you got any ideas on how to resolve this? I'm thinking of adding a output['error_msg'] in every module's output variable and have it populated with the equivalent error message within the respective modules itself.

Like say, the query is

I sent and just like #43 it throws an error. So now what I'll do, I'll add an additional entry to `output` dict as in `output['error_msg']` to

[2016-05-17 12:49] swapagarwal commented on #46
Apologies for the late reply.
[Calcatraz](https://www.calcatraz.com/calculator/examples/) provides a **lot** of features, so using it would be kinda defeating the purpose of inviting new contributors. The conversation is our top priority. Then we can take this into consideration.

[2016-05-17 12:50] shanmukhateja commented on #46
finally. good to see you bro @swapagarwal

[2016-05-17 12:50] swapagarwal commented on #42
I'll look into this tonight and (hopefully) have an alpha version ready.

[2016-05-17 12:51] shanmukhateja commented on #42
All the best bro :)

[2016-05-17 12:54] swapagarwal commented on #19
@shanmukhateja It's like you read my mind!
I had exactly this in mind while opening this issue but got busy in other things.
If you like, you may go ahead and implement this (for `dictionary` module, as a start).
After that, adding to other modules would be low-hanging fruits! :stuck_out_tongue_winking_eye:

[2016-05-17 13:13] shanmukhateja commented on #19
Haha so should I PR the dictionary module first? Come on..let me do them all!

[2016-05-17 13:13] shanmukhateja commented on #19
Haha so should I PR the dictionary module first? Come on..let me do them all!

[2016-05-17 13:16] swapagarwal commented on #19
btw, how many modules need this? let's first list them down.

[2016-05-17 13:17] shanmukhateja commented on #19
I think it's required for all the modules because errors can occur for all modules

[2016-05-17 13:38] swapagarwal commented on #19
Agreed, except the basic ones like help, request, etc.

[2016-05-19 10:38] shanmukhateja opened #49 "Random fact module needs work"
The random fact module needs some work. I have noticed two issues:

1) The are exponential values not being superscripted and so we have values like **6.022e+23** in the output.
2) There are few characters like the single quotation mark which is sometimes shown as \U2019.

This is a medium priority bug and I feel it can be assigned the _Low hanging fruit_ label too.

[2016-05-20 13:45] akarshHegde commented on #49
random fact module or random joke module? :confused:

[2016-05-20 13:47] shanmukhateja commented on #49
Fixed. thank you :)

[2016-05-24 15:30] bopace commented on #15
I'd be happy to take a swing at this.

[2016-05-25 05:05] FleetAdmiral commented on #26
Hey could i take up this issue?

[2016-05-26 16:41] swapagarwal commented on #15
@bopace Sure, go ahead!

[2016-05-26 16:42] swapagarwal commented on #49
#15

[2016-05-26 16:43] swapagarwal commented on #26
@FleetAdmiral Sure, go ahead!

[2016-05-26 17:53] #19 closed

[2016-05-26 17:58] swapagarwal opened #51 "Add error handling"
Below is the list of modules that need a `output['error_msg']` in case of an exception:

- [x] anime
- [x] book
- [x] currency
- [x] dictionary [Line#20](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/dictionary.py#L20)
- [x] movie
- [x] music
- [x] time
- [x] wiki

[2016-05-26 18:11] swapagarwal opened #52 "Time zone module"
Support queries like "time in US"

[2016-05-26 18:13] swapagarwal opened #53 "Movie: Add year"
Use `data['Year']`

[2016-05-26 18:24] swapagarwal opened #54 "Add offline data sources"
Below is the list of modules that can make use of an offline data source:

- fact
- joke
- quote

Add (Improve) the curated lists in `data/*` folder. Comment below if you'd like to take up one of these.

[2016-05-27 09:19] swapagarwal commented on #4
Continued in #54

[2016-05-27 09:19] #4 closed

[2016-05-28 02:41] jorgeavaldez commented on #54
I can take this

[2016-05-28 02:41] jorgeavaldez commented on #51
I can take this

[2016-05-28 03:07] swapagarwal commented on #54
sure @jorgeavaldez, let me know if you need any help! :smile:

[2016-05-28 03:08] swapagarwal commented on #51
sure @jorgeavaldez, let me know if you need any help! :smile:

[2016-05-28 09:11] #7 closed

[2016-05-28 10:01] swapagarwal opened #55 "Anime: Show rating only upto two places of decimal"
[Line#15](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/anime.py#L15)
Current: `Community Rating: 4.33105360168`
Expected: `Community Rating: 4.33`

[2016-05-31 18:31] #53 closed

[2016-06-02 03:33] #55 closed

[2016-06-03 14:49] camdroid commented on #51
@jorgeavaldez Are you still working on this, or would it be okay if I worked on a couple modules?

[2016-06-04 18:31] nikhilgeo commented on #54
I like to take it up...

[2016-06-04 19:01] swapagarwal commented on #54
@nikhilgeo Sure, go ahead!

[2016-06-06 00:04] brandon-pineda commented on #52
Hello, I'd like to contribute on this.

[2016-06-06 04:18] swapagarwal commented on #52
Hey @brandon-pineda, thanks for your interest but this is done in #64. I suggest you start out with other low-hanging fruits here https://github.com/swapagarwal/JARVIS-on-Messenger/labels/Low-Hanging%20Fruit

[2016-06-06 04:19] #52 closed

[2016-06-06 05:12] camdroid commented on #51
Added pull request for currency (#65) and anime (#66).

[2016-06-06 13:20] manparvesh opened #67 "Time queries not working properly for all locations"
As you can see in the screenshot below, for some locations the query in the form *time in ___* works perfectly fine, but the query *____ time* doesn't.
![screenshot from 2016-06-06 18-43-35](https://cloud.githubusercontent.com/assets/6629115/15823152/0bd980c4-2c17-11e6-9125-e3414fa130e1.png)

[2016-06-06 19:08] swapagarwal commented on #67
@manparvesh, nice catch! :wink:
Thanks for testing and taking the time to report this issue. :smile:
I'll look into this.

[2016-06-07 04:00] krizhan1997 commented on #67
thats wierd. i'm currently in toronto. i just checked and the times was correct for new delhi when i did it in toronto??

[2016-06-07 04:36] #67 closed

[2016-06-07 04:38] swapagarwal commented on #67
@manparvesh As this module was added yesterday only, there weren't enough queries to train on. This should be fixed now. Can you confirm?

[2016-06-07 04:41] manparvesh commented on #67
I tried it just now. None of the query seems to work now.

[2016-06-07 04:43] manparvesh opened #68 "Wiki: Jarvis"
If I type _wiki jarvis_, I should be getting wiki data from the _Jarvis_' page. But it doesn't.
PS: There exists a wiki page for Jarvis.
Screenshot:
![screenshot from 2016-06-07 09-57-58](https://cloud.githubusercontent.com/assets/6629115/15846191/5c9c45d8-2c98-11e6-9ae2-c3179b467729.png)

[2016-06-07 04:45] swapagarwal commented on #67
Ohh, my bad! Can you recheck?

[2016-06-07 04:47] manparvesh commented on #67
Working fine now :smile:

[2016-06-07 04:51] manparvesh opened #69 "Jarvis keyword"
In any line containing the word *Jarvis*, the reply seems to be the same as a greeting. Even if I say *bye Jarvis*!
Screenshot:
![screenshot from 2016-06-07 10-18-42](https://cloud.githubusercontent.com/assets/6629115/15846302/82cb705c-2c99-11e6-9ef6-2c0aea7d1697.png)

[2016-06-07 04:55] manparvesh opened #70 "Messages in continuation"
The bot should remember what it said the last time, especially if the bot itself is asking a question.

![screenshot from 2016-06-07 10-22-07](https://cloud.githubusercontent.com/assets/6629115/15846350/e8bde4d0-2c99-11e6-9b82-b41fed3ac5c6.png)

[2016-06-07 05:03] manparvesh commented on #68
still not working:
![screenshot from 2016-06-07 10-32-02](https://cloud.githubusercontent.com/assets/6629115/15846491/3c8b3e36-2c9b-11e6-8538-85ae72930d1a.png)

[2016-06-07 05:03] swapagarwal commented on #68
`wiki jarvis` now triggers the Wikipedia module but searching for Jarvis on wikipedia results in a Disambiguation Error. That'd have to be handled separately!

[2016-06-07 05:03] swapagarwal commented on #68
https://en.wikipedia.org/wiki/Jarvis

[2016-06-07 05:04] manparvesh commented on #68
oh okay

[2016-06-07 05:06] manparvesh commented on #68
Is there something that can be done such that the user gets to choose from the list in case of such errors?

[2016-06-07 05:06] swapagarwal commented on #70
Retaining context is a planned feature - coming soon!

[2016-06-07 05:07] swapagarwal commented on #69
A new module "Goodbye" can be put in place. :smile: What say?

[2016-06-07 05:08] manparvesh commented on #70
That'd be nice! I've seen this lacking in many bots, making their usage very uninteresting to me.

[2016-06-07 05:09] swapagarwal commented on #68
Do you mean something like the results that are shown in `songs by linkin park`? (Cards)
Or, in one message only?

[2016-06-07 05:09] manparvesh commented on #69
Yes, it should be there :smile:

[2016-06-07 05:12] swapagarwal commented on #70
Agreed.

[2016-06-07 05:14] manparvesh commented on #68
The cards would be good for detailed information, but then it would open the browser/ Wikipedia app. In that case, inside the message would be better.

[2016-06-07 05:20] manparvesh opened #71 "Songs"
If I enter a query for which the bot is unable to find a match, it doesn't reply anything (when I entered *chrs brown* instead of *chris brown*). I had to wait for some time to realize that :stuck_out_tongue_closed_eyes:
Also, no responses for *wiz khalifa*? :scream:
![screenshot from 2016-06-07 10-46-18](https://cloud.githubusercontent.com/assets/6629115/15846687/36e19dfc-2c9d-11e6-9775-40e47b315

[2016-06-07 05:23] manparvesh commented on #69
Well, there should be another module that should handle the queries other than hello and goodbye. Currently if I type anything followed by the word *jarvis*, I get a response from the "Hello" (not sure of the name, didn't go through the complete code) module

[2016-06-07 05:32] swapagarwal commented on #69
Okay, you mean like random conversations...

[2016-06-07 05:33] manparvesh commented on #69
Yeah, kind of!

[2016-06-07 17:36] williamshoops96 commented on #54
I've added some facts, about to pr now!

[2016-06-07 18:21] williamshoops96 commented on #71
I've added error messages in my pr #74

[2016-06-08 11:24] nikhilgeo commented on #51
@swapagarwal ...I like to work on this..!!

[2016-06-08 12:45] swapagarwal commented on #51
@nikhilgeo This is being done in #74
Feel free to take up any of the other [issues](https://github.com/swapagarwal/JARVIS-on-Messenger/issues?q=is%3Aissue+is%3Aopen+label%3A%22Low-Hanging+Fruit%22). :smile:

[2016-06-08 12:54] nikhilgeo commented on #51
ok...Cool..!!

[2016-06-08 18:12] SaumyaRawat commented on #15
Hello! Are there any updates on this or can I take this up?

[2016-06-08 18:14] bopace commented on #15
Go for it! I've been a little busier lately than I anticipated, so I won't be able to get to it for a bit.

[2016-06-08 18:40] SaumyaRawat commented on #15
Great! Have been tinkering with the code a bit and found that `word = entities['dictionary'][0]['value']` is empty, for example, for "define comfort" it doesn't save "comfort" in word and it always gives an error message. Am I missing something obvious? Any clarifications will be appreciated! Thanks!

[2016-06-09 06:28] swapagarwal commented on #15
@SaumyaRawat It is `word = entities['word'][0]['value']` See [Line#11](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/dictionary.py#L11)

[2016-06-09 06:59] SaumyaRawat commented on #15
Sorry! I forgot to change dictionary to word while I was posting. I had put that locally to test. But even `word = entities['word'][0]['value']` results in the same empty value for word

[2016-06-09 07:41] #51 closed

[2016-06-09 07:53] swapagarwal commented on #15
Can you post the response you get from `http://localhost:5000/process/?q=define%20comfort`?

[2016-06-09 07:56] swapagarwal opened #80 "Time: Format output"
Current: `2016-06-09 13:24:43`
New: `Thu Jun 09 2016 13:24:43`
[Line#17](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/time.py#L17)

[2016-06-09 07:58] swapagarwal commented on #80
http://strftime.org/

[2016-06-09 08:03] swapagarwal opened #81 "Show rating scale"
Show the maximum rating, like `3.73 / 5` instead of just `3.73`.

- [x] anime
- [x] book
- [x] movie

[2016-06-09 09:21] nikhilgeo commented on #81
I guess these are the places where changes need to be done.. ?
movie.py line no: 11
anime.py line no: 15
book.py line no: 25

I can take this up....

[2016-06-09 09:43] SaumyaRawat commented on #15
It does have a value "comfort" according to this, will look at why the definition isn't displayed some more

[2016-06-09 10:05] swapagarwal commented on #81
@nikhilgeo Sure, go ahead! :smile:

[2016-06-09 10:06] swapagarwal commented on #15
Output of `http://localhost:5000/search/?q=define%20comfort`?

[2016-06-09 10:28] wickedsmirk commented on #80
Hey! have you considered adding a feature which will send a reminder after a specified time? Sort of like an alarm or a countdown timer.

[2016-06-09 11:48] swapagarwal commented on #80
Hmm, sounds good. The only issue is that this would require a database to store the alarms.
If we get enough good features that require a database, we'd definitely support them! :smile:

[2016-06-09 16:46] #54 closed

[2016-06-09 18:05] #81 closed

[2016-06-09 18:20] nikhilgeo commented on #80
PR #84 created for change in time format

[2016-06-09 18:52] nikhilgeo commented on #80
New PR #85 create with time format check in

[2016-06-09 18:54] #80 closed

[2016-06-10 04:05] wickedsmirk opened #87 "Response for 'bye'"
Currently Jarvis responds with-
"I'm sorry; I'm not sure I understand what you're trying to say sir.
Try typing "help" or "request" for a "bye"
It should have a better system to deal with keywords such "bye" ,"thanks you" etc

[2016-06-10 04:18] swapagarwal commented on #87
Agreed, this module is planned.
You are welcome to contribute as well! :smile:

[2016-06-10 07:19] swapagarwal opened #88 "Weather: Show temperature in multiple units"
Current: `295.31 K`
New: `22.16 °C / 71.888 °F`
Replace current with new in [Line#17](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/weather.py#L17)

[2016-06-16 19:15] VarunWachaspati opened #95 "Music Lyrics API : Genius"
Hey

I think the Genius API would be great for serving lyrics. https://docs.genius.com/

Best thing about Genius is it's annotations which actually specify the meaning and context of particular lines in a song. Great value add-on for JARVIS

What are your thoughts on this?

[2016-06-17 18:08] VarunWachaspati commented on #15
Kindly update the progress of the issue

[2016-06-18 05:10] swapagarwal commented on #15
Hi @VarunWachaspati, this is yet to be done.

[2016-06-18 05:18] #88 closed

[2016-06-19 05:03] rohshar opened #96 "ImportError: No module named 'src'"
I was trying to get jarvis running on my machine but i got an import error that it can't find src.

Did I do something wrong?

[2016-06-19 05:43] swapagarwal commented on #96
Can you provide a screenshot of your terminal?

[2016-06-20 14:06] rohshar commented on #96
nevermind, I got it to work. Where are the files in modules/src being called from?

[2016-06-20 17:14] rohshar commented on #87
I implemented a simple bye module and have created a pull request.

[2016-06-22 16:14] #96 closed

[2016-06-24 09:41] rkrp opened #99 "Toss a coin feature"
Hey, I think it would be nice to have a simple feature where the users can ask JARVIS to toss a coin and it randomly replies either 'Head' or 'Tail'. What do you think of it?

[2016-06-29 16:10] badmon commented on #99
while this seems like an amazing bot functionality, we should not rob people of the fun and anticipation in actually tossing a coin

[2016-06-30 18:45] rkrp commented on #99
@badmon Not really sure how should I take your comment :sweat_smile:

[2016-07-10 05:06] austinprog commented on #46
HI! If anyone really wants this I'd love to work on this as one of my first pull requests to a open source project (other than mine) :)

[2016-07-11 14:20] swapagarwal commented on #87
#97

[2016-07-11 14:26] #87 closed

[2016-07-11 14:37] swapagarwal commented on #96
https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/__init__.py#L29

[2016-07-11 14:43] swapagarwal commented on #99
@rkrp What comment? :stuck_out_tongue_winking_eye:

[2016-07-11 14:44] badmon commented on #99
Lol

On Mon, 11 Jul 2016 at 2:43 PM Swapnil Agarwal <notifications@github.com>
wrote:

[2016-07-11 14:47] swapagarwal commented on #46
@austinprog Sure, go ahead!

[2016-07-11 15:38] rkrp commented on #99
@swapagarwal Apparently, @badmon has removed the comment, he last made - to which I replied to.

And yes, I would love to work on this :smile:

[2016-07-11 15:53] badmon commented on #99
all i'm trying say is this bloats the bots functionality

[2016-07-11 16:22] swapagarwal opened #104 "Currency: Remove duplicate output"
Query: `convert one usd to inr`
The output `1 USD = 67.1430 INR` is repeated two times!

[2016-07-11 16:26] swapagarwal commented on #99
@rkrp Ok, I'll be waiting for your PR! :smile:
@badmon This is debatable. However, we can always disable some modules by changing just one line in init.py so there's no harm in making new modules!

[2016-07-14 08:05] austinprog commented on #46
Cool, thank you! What type of features would you want in the calculator? Just the basic stuff or more advanced stuff? Not sure if I could do all the advanced features by myself but I could look into implementing an API like Wolfram Alpha.

[2016-07-14 14:43] swapagarwal commented on #46
@austinprog WolframAlpha is a bit overkill for this. Start with just the basic features, and we can build upon it further.

[2016-08-05 14:59] seongju commented on #99
Hello @swapagarwal, I've submitted a PR for this feature #106. Thanks

[2016-08-05 21:30] JPHamlett commented on #46
@austinprog I am interested in implementing this functionality. Are you still working on this or can I take over?

[2016-08-05 22:38] austinprog commented on #46
JPHamlett, sure go ahead. I simply am to busy to work on this.I originally thought I would have time, however, turns out I don't. So yeah, you can take over this functionality.

[2016-08-06 03:56] JPHamlett commented on #46
It would appear that wit.ai might not be able to interpret math intent?

[2016-08-06 16:38] JPHamlett1993 commented on #46
@swapagarwal I have created a PR for this functionality #107

[2016-08-07 12:56] #71 closed

[2016-08-07 18:39] #104 closed

[2016-08-07 19:18] swapagarwal commented on #95
@VarunWachaspati Sorry, I missed this somehow! 👍 for the annotations; would you like to implement this?
Either Genius or MusixMatch works fine by me. 😄

[2016-08-08 21:46] UshalNaidoo opened #109 "Rolling a dice"
Added a pull request for a dice roll: #108

[2016-08-10 01:18] UshalNaidoo commented on #23
#110 Added a slightly more elaborate PR for this issue. Only noticed after that @jorgeavaldez had done something on this. You can use his, or a combination of both, I don not mind.

[2016-08-10 01:29] UshalNaidoo commented on #26
#111 PR for button link on a book

[2016-08-10 01:41] UshalNaidoo opened #112 "Travel"
We could use API's like Skyscanner to find out travel information to a certain country. Maybe include the weather and a few accommodation links, maybe with the TripAdvisor API https://www.tripadvisorsupport.com/hc/en-us/articles/200615457

Could do something like :
Travel to Bali

Response:
Bali prices : Emirates $2000...etc
Weather: ...
Hotel links: [] [] []

[2016-08-10 02:47] UshalNaidoo commented on #68
I think the problem is that the input has the word "jarvis" in it. This is a bug for any of the searches including 'book jarvis', 'movie jarvis' etc. This is a separate issue from the wiki feature and should be closed.

[2016-08-10 02:55] UshalNaidoo commented on #42
@swapagarwal Have you managed to progress with this?
in regards to the negativity, we could have a smart counter to the response and increment it with more of that response you get. Then in a response you have a sorted list of most common responses. This should (hopefully) prevent Jarvis from mutating into an evil version of Vision, especially since you only have testers working on it at the momen

[2016-08-10 20:01] seongju commented on #95
I did a little research and it seems that without paying Musixmatch does not give a 'Full Lyrics Display' also Genius does not give the lyrics either.

[2016-08-13 14:37] shaishavgandhi05 commented on #15
Was trying to replicate the issue but somehow the output for `http://localhost:5000/search/?q=define%20comfort` is
`{"text": "I couldn't find that definition.\nPlease ask me something else, like:\n - define comfort\n - cloud definition\n - what does an accolade mean?"}`

Output for `http://localhost:5000/process/?q=define%20comfort` is
`["dictionary", {"word": [{"suggested": true, "confidence": 0.

[2016-08-13 15:09] shaishavgandhi05 commented on #95
There's http://api.chartlyrics.com/ that provides lyrics for non-commercial use. I don't know if Jarvis would qualify for non-commercial use. Scroll down to bottom to read their terms of use.

[2016-08-13 15:47] shaishavgandhi05 commented on #15
Never mind. Didn't realize had to enter my own API key

[2016-08-16 23:06] UshalNaidoo opened #114 "Can JARVIS post images or Gifs?"
An example is, in the coin toss feature, instead of displaying text it shows an image or a gif of a coin showing the result (heads/tails). This can be used in the dice roll as well.

[2016-08-17 02:37] bhairavmehta95 opened #115 "Pick Feature"
It would be nice if you could decide group decisions based on what you tell jarvis, who would pick one essentially at random. An example query could be

`pick chinese mexican thai`

to which Jarvis would reply a random entry

`chinese. Have fun.`

Not sure if you create the issue or PR first (new to contributing) but that's my idea if someone could help me out with next steps (i.e do I have to hav

[2016-08-17 17:52] swapagarwal commented on #114
Yes, see the [attachment](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/templates/attachment.py) template. Use the Image type.
Awesome use case; I'll be merging the PRs this weekend.

[2016-08-18 17:14] JPHamlett1993 commented on #115
I'll see what I can do

[2016-08-18 23:27] UshalNaidoo commented on #115
A pull request is created after the coding is done, but having it here gives others the opportunity to pick up this task.

[2016-08-19 00:07] bhairavmehta95 commented on #115
So can I work on this?

[2016-08-23 21:43] UshalNaidoo commented on #115
Go ahead

[2016-09-07 06:04] Icyphox opened #119 "Integrating JARVIS with dmenu"
I think I have a great idea to integrate JARVIS with the pretty popular program launcher dmenu.
It's possible to write a simple script to point to the URL to make the query, but the only issue is the output text from the URL isn't pretty.

So... what do you say?

[2016-09-08 06:36] JotraN commented on #96
Hi, just wanted to say I ran into this issue as well. The problem was that I mistakenly ran jarvis using python 3.5.2 and not python 2.7. Just in case anyone else runs into this issue, use the correct python version.

[2016-09-18 19:45] nubianMONK commented on #26
@swapagarwal seems like all Low-Hanging-Fruit issues that are fantastic for a newbie as my self, have all been scooped up.  Are you planning on creating a newer list of the aforementioned?

[2016-10-25 01:20] SolidOrange commented on #23
Is this issue still open?

[2016-10-26 10:55] Kashyap12 commented on #23
hi is this still open ? @swapagarwal , new to open source, would love to contribute

[2016-10-27 10:39] hithesh commented on #31
@KartikKannapur this looks really useful,  any improvements?? i would like to help

[2016-10-28 00:20] UshalNaidoo commented on #23
The PR has been created #110, waiting for @swapagarwal to merge it in

[2016-10-29 17:33] KartikKannapur commented on #31
@hithesh Sorry, I haven't had time to work on it. It would be great if you could take this up.

[2016-11-01 19:02] #109 closed

[2016-11-02 09:43] SabareeshIyer commented on #26
Hey, is this open?

[2016-11-06 23:40] #23 closed

[2016-11-06 23:45] swapagarwal commented on #23
@jorgeavaldez @UshalNaidoo @SolidOrange @Kashyap12 Thanks for your interest! You may work on other additions if you are still interested. 😄

[2016-11-09 21:00] netanel246 opened #126 "Add some philosophic answers"
It will be nice to add some answers to philosophic.
e.g is there a life after death?
do you believe in god?
do you have a soul?
The idea is taken from the popular virtual assistants like Google allo, and Cortana etc.

[2016-11-13 23:52] swapagarwal commented on #26
@nubianMONK Thanks for taking an interest! Yes, I'll be adding a few more low-hanging fruits. You might want to keep an eye out for them.
@SabareeshIyer Sorry, this is closed now. You can work on other issues / new additions.

[2016-11-13 23:52] #26 closed

[2016-11-13 23:57] swapagarwal commented on #112
@UshalNaidoo Sorry to reply so late!
Nice idea. But won't travel be a bit of a large module in itself? I mean, it can be subdivided into modules like weather, hotel, etc. What do you think?

[2016-11-22 21:05] sudomichael commented on #31
I will have this completed within 2-3 days

[2016-11-22 23:51] robertodessi commented on #95
Hi,
I would like to give my first contribution to this interesting project.
Is anybody working on this?

[2016-11-27 03:45] AustinRow1 commented on #15
I can't seem to replicate the original 'HTML Entity' bug when testing Jarvis locally. What can be done to replicate the bug locally?

[2016-11-30 20:06] febinmoideen commented on #15
Is this still an issue?

[2016-11-30 21:27] AustinRow1 commented on #15
@febinmoideen , I'm unsure but I haven't been able to replicate this bug in my testing. The given usage case doesn't produce the bug nor do any tests that I have run myself. If you manage to reproduce it, let me know.

[2016-12-04 12:37] swapagarwal commented on #115
Hi @bhairavmehta95, there were two similar modules added: `coin` and `dice`.
Can the use cases be merged, or do you think they should be independent?

[2016-12-04 12:44] swapagarwal commented on #119
Sorry, I'm not familiar with it. Can you provide more details on the response format that you would prefer?
Also, it'd be helpful if you could provide a sample workflow of what you are trying to do with dmenu. 😄

[2016-12-04 15:13] swapagarwal commented on #126
Neat idea!
Looks like a new module to me. Would you be willing to work on it?

[2016-12-04 15:33] swapagarwal commented on #95
@shaishavgandhi05 Yes, we can use the ChartLyrics API.
@robertodessi Sure, go ahead!

[2016-12-04 15:36] swapagarwal commented on #99
Added in #106

[2016-12-04 15:36] #99 closed

[2016-12-04 15:39] swapagarwal opened #128 "Add images in coin and dice module"
As pointed out in #114,
Instead of displaying text, we can show an image or a gif of a coin showing the result (heads/tails).
This can be used in the dice roll as well.
See the [attachment](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/templates/attachment.py) template. Use the Image type.

[2016-12-04 15:40] #114 closed

[2016-12-04 15:41] swapagarwal commented on #17
Use postbacks!

[2016-12-04 15:43] swapagarwal opened #129 "Xkcd: Show random comic"
Right now, it shows the latest.

[2016-12-04 15:46] swapagarwal opened #130 "Xkcd: Add explain xkcd link"
e.g. http://xkcd.com/1767/ and http://explainxkcd.com/1767/
Add links using ButtonTemplate.

[2016-12-04 16:03] swapagarwal commented on #15
This no longer seems to be an issue.
Also, the description in book module used to contain HTML tags, which has been fixed in fefc376ecdcf5938e6370ba6134350bc29b48b59

[2016-12-04 16:03] #15 closed

[2016-12-04 16:08] swapagarwal opened #131 "Add quick replies to joke, fact and quote modules"
Refer https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/coin.py to add a quick reply (show me another, one more, etc.) in:
- [x] joke
- [x] fact
- [x] quote

[2016-12-04 16:13] swapagarwal opened #132 "Book: Add author name"

[2016-12-07 22:41] MrRobot9 commented on #34
I tried using `requests-cache` , it works perfectly fine!! Can I create a pull request ?

[2016-12-10 11:19] swapagarwal commented on #68
Fixed in a3bd4e7af02bb879b6b6b62f1a2de65f79728b33.
User can now choose from search results in case of ambiguity!

[2016-12-10 11:19] #68 closed

[2016-12-10 11:28] #49 closed

[2016-12-15 11:09] kiendang commented on #129
I'm thinking of getting the total number of comics from the "num" in the latest comics then choose a random comics from 1:num but that means having to make 2 http requests.

[2016-12-17 21:44] CoderOwl commented on #131
Pull request created at:
https://github.com/swapagarwal/JARVIS-on-Messenger/pull/140 for adding quick replies ("One More!" and "Show me a quote") in joke module.

[2016-12-18 09:31] Rohitp commented on #129
I'm thinking that you don't need two requests. Since xkcd updates thrice a week and we know how many comics are out as of the current timestamp, we just need a base number and we can add 3 to it for every week that passes to get the "num" for the random 1:num range.

[2016-12-20 12:07] mahim97 commented on #128
I was trying this out and could get this kind of output,
{"text": "heads", "quick_replies": [{"payload": "{\"entities\": null, \"intent\": \"coin\"}", "attachment": {"attachment": {"type": "Image", "payload": {"url": "http://coins.silvercoinstoday.com/wp-content/uploads/2010/10/America-the-Beautiful-Silver-Coin-Obverse.jpg"}}}, "content_type": "text", "title": "Flip again!"}]}

Is this fine, I am

[2016-12-23 11:34] anilkunchalaece opened #144 "how to test ?"
Hi..
How to test this in the System ?
I Tried **Local Development / Testing**
But it is showing output as
![jarvis](https://cloud.githubusercontent.com/assets/17523245/21453086/db4c9e2e-c931-11e6-86f9-2f76c86db643.png)

[2016-12-23 19:09] akanbrown commented on #144
`http://localhost:5000/search/?q=tell me a fact`

[2016-12-25 22:17] MatthewKarami opened #145 "Issue setting up environment"
Hey guys! this is my first time delving into open source and I'm getting some issues while executing `pip install -r requirements.txt` (following the instructions on the README) My error message:
![error](https://cloud.githubusercontent.com/assets/16831561/21473027/348fc8c4-caab-11e6-9f0e-41e012d26912.PNG)

I'm running windows 10 pro 64 bit and have python36-32 and the latest version of VS.

I've

[2016-12-26 05:26] #129 closed

[2016-12-26 06:50] #132 closed

[2016-12-26 06:51] swapagarwal commented on #132
@mahim97 This was already taken up by @jmcomber. Feel free to take up any of the existing issues or a new addition. 😄

[2016-12-26 07:02] swapagarwal commented on #145
Any windows users here?
@MatthewKarami Are you using Python 2.7?

[2016-12-26 07:07] swapagarwal commented on #144
@anilkunchalaece If you want to deploy a bot, follow the links given by @akanbrown.
If you want to test locally, visit the following URLs to see results:
`http://localhost:5000/process/?q=<<YOUR_QUERY>>` returns the intent of the query.
`http://localhost:5000/search/?q=<<YOUR_QUERY>>` returns the search result of the query.

e.g. "http://localhost:5000/process/?q=tell me a fact" returned the inten

[2016-12-26 07:09] MatthewKarami commented on #145
@swapagarwal No, I'm using 3.6. Should I be using 2.7?

[2016-12-26 07:25] swapagarwal commented on #145
Yes 😅

[2016-12-26 07:43] swapagarwal commented on #128
@mahim97, this is being worked on in #141

[2016-12-27 22:16] CassiusYCai commented on #130
Hi @swapagarwal I'd love to work on this!

[2016-12-28 05:21] CassiusYCai commented on #130
Hi @swapagarwal, I've been able to create the Button to add the explainxkcd link, but I'm receiving the error message whenever I input "xkcd" as my query, so I am unable to test it (even without my changes).

I believe I've narrowed the error to line 10 in xkcd.py, specifically the request "with requests_cache.enabled..." but do not understand what is happening on that line. I've looked online for

[2016-12-30 16:13] Icyphox commented on #119
Okay dmenu is a program launcher for Linux, mostly used in tiling window managers. Anyway, I kinda forgot about this, but my idea was to run Jarvis through dmenu, and add it as an extended plugin, which behaves like a personal assistant.

Nevermind, you can close this issue. Thanks anyway.

[2016-12-30 16:59] Icyphox opened #146 "Import error on Arch Linux"
So I tried cloning this repo, and ran `python jarvis.py` and I get an `ImportError: No module named 'src'`.

Here's the complete traceback:
[code]

[2016-12-31 04:49] BenjaminPollak commented on #146
Did you make sure to install the dependencies? There are some fairly straightforward directions for installing them at the bottom of  [this page](https://github.com/swapagarwal/JARVIS-on-Messenger), but it assumes the user is on a Debian-based distro. Have you taken a look at those?

[2016-12-31 07:20] Icyphox commented on #146
Yes I have. And since Arch doesn't have any `-dev` packages, I'm sure I have the dependencies.

[2016-12-31 11:41] harshitdx29 opened #148 "Reminder Feature"
A reminder feature using JARVIS

[2017-01-01 11:30] lakshaykalbhor commented on #95
Hey everyone, though @seongju is right that Genius's API does not directly provide lyrics, but it provides the url of a page that contains the lyrics. Lyrics can be obtained by simply scraping that page. I have sent a [Pull Request](https://github.com/swapagarwal/JARVIS-on-Messenger/pull/149) and have tried adding a lyrics search option which uses Genius's API.

[2017-01-01 14:41] swapagarwal commented on #130
@CassiusYCai Cool, you can go ahead and create a Pull Request, and we can take it from there! 😄
Can you tell what error message are you getting?
The `requests_cache` caches the request on the server so that we do not have to hit the same URL again and again!
On a high level, you'd have to add two buttons, like the [`music`](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src

[2017-01-01 14:54] swapagarwal commented on #146
@Icyphox Are you running on Python 2.7?
Can you attach a screenshot of your terminal?
Also, your help would be much appreciated in verifying #138 😄

[2017-01-01 14:56] swapagarwal commented on #148
This would be the first module that would require a backend! 😎
@harshitdx29 Would you be willing to pick it up?

[2017-01-01 15:15] Icyphox commented on #146
@swapagarwal Nope. Running Python 3. Currently on my phone, will attach terminal screenshot after I get to my PC.
As a temporary, yet annoying fix, I'm running Jarvis on an Ubuntu VM, and connecting to it through my host machine.

[2017-01-01 15:20] swapagarwal commented on #146
@Icyphox Jarvis runs on Python 2.7 😇

[2017-01-01 16:11] swapagarwal commented on #119
So something like exposing jarvis as an api, sounds cool!
Let's keep it open for further discussion. Are you familiar with integrations in dmenu?

[2017-01-01 16:32] harshitdx29 commented on #148
Yes sure! Glad you liked the suggestion. 👍

[2017-01-01 17:08] Icyphox commented on #146
Oh does it now? Silly me. :D

[2017-01-01 17:36] Icyphox commented on #119
Yeah, dmenu plugins are simple Python scripts. Here look at [this](https://github.com/markjones112358/dmenu-extended-plugins). Should give you an idea of what I'm talking about.

[2017-01-02 08:44] swapagarwal commented on #148
Is firebase a good fit for storing data in this case?

[2017-01-02 09:09] anilkunchalaece opened #150 "Greet for major festivals"
Iam thinking of Greeting text the user on major festivals ?

On days like.. new year, Christmas,pongal in India and we can add many more.

[2017-01-02 10:44] harshitdx29 commented on #148
Haven't thought over this feature. Give me a couple of days to be really able to come up with a solution for this.

[2017-01-02 13:18] swapagarwal commented on #150
That's actually quite clever! ❤️
@anilkunchalaece Would you be willing to take this forward?

[2017-01-02 13:48] swapagarwal commented on #119
Okay, this would require jarvis to be hosted as a service at some public endpoint that you can hit. Open to suggestions...

[2017-01-02 16:21] Icyphox commented on #119
Yeah, that's probably required. Is it possible? Maybe for starters, run it on a remote VPS?

[2017-01-03 06:55] anilkunchalaece commented on #150
@swapagarwal
I will, and little help to get started is much appriciated

[2017-01-03 07:31] #146 closed

[2017-01-03 17:27] swapagarwal commented on #150
Let's start with international festivals. We can have a map with date as key and special greeting message as value. If today's date is present in that map, we add the special greeting.

[2017-01-03 18:31] #128 closed

[2017-01-03 18:34] swapagarwal opened #152 "Add animations in coin and dice modules"
Continuation of #128.
See discussion in #141 for a better understanding!

[2017-01-03 18:43] swapagarwal commented on #119
@Icyphox #151 seems to solve this, i.e. you can host jarvis on your local machine itself!

[2017-01-04 01:11] Icyphox commented on #119
@swapagarwal Well, I created that pull, because of this :)

[2017-01-04 04:39] CassiusYCai commented on #130
Hey @swapagarwal Thanks so much for the reply and the help. Just finished taking a look at the music module and used the framework to create two buttons in the xkcd file.

Going back to basics, I'm having trouble creating a PR: I created a separate branch, added and committed my changes, but am getting the following message when I try to push:

After some googling, I created another private key, a

[2017-01-04 09:43] tdraebing opened #153 "Return (semi-)random gif using the giphy API"
Hi,

how about using the giphy API (https://github.com/Giphy/GiphyAPI) to get gifs? This could be fully random currently trending gifs or targeted searches. e.g. `JARVIS show me a gif of funny cats` would search the API with the search terms `[funny, cats]` and would return a random gif given back by the API response.

[2017-01-04 20:29] CassiusYCai commented on #130
Nevermind, just created the PR!

[2017-01-05 18:17] swapagarwal commented on #130
@CassiusYCai Happy to see you resolved it on your own! 😄

[2017-01-05 18:18] #130 closed

[2017-01-06 12:35] swapagarwal commented on #153
@tdraebing Can't say no to funny cat gifs! 😆

[2017-01-06 12:40] swapagarwal commented on #153
I've requested for a production key; till then you can test with the public beta key `dc6zaTOxFJmzC`. Let me know if you run into any issues! 😄

[2017-01-06 15:44] swapagarwal commented on #119
@Icyphox If you want to deploy to a public endpoint, you can use Heroku. Visit this link to host your own instance: https://heroku.com/deploy?template=https://github.com/swapagarwal/JARVIS-on-Messenger

[2017-01-06 16:06] harshitdx29 commented on #148
Hi Swapnil,

I was thinking about this feature and have come up with a design for it for the first phase.

We can have a get call say /reminder which will render a form having fields like "remind me to" which will take a string as input and two other fields as "date" and "time". Once the form is submitted the values can be stored in database. And also there would be a background task running async

[2017-01-06 16:15] swapagarwal commented on #153
They replied saying that bots should use the public key only! So you can go ahead and set that in config.py

[2017-01-06 16:30] swapagarwal commented on #148
I didn't understand what you meant by `...have a get call say /reminder which...`. Users interact with the bot on messenger platform, there's not a website that they can hit and fill a form. So it would be a query like `remind me to do something at 10pm tonight`, from which we can extract relevant data and store it in firebase.
The background task is the harder of the two steps; taking care of all

[2017-01-06 16:48] harshitdx29 commented on #148
There would be a lot of parsing required for the query as the user can enter time and date in various formats and overall language as well.

Eg: 1) Remind me to do something at 10 pm tonight
2) Remind me to do something at 2200 hrs today.
3) Remind me to do something at 10pm on 10th jan 2017 (various date formats here.)
4) At 2 o clock in the afternoon on 10th Jan 2017 remind me to do something.

[2017-01-06 17:15] swapagarwal commented on #148
So the parsing would be handled by wit.ai so you need not do anything. I'll train it and you'll have the required data in `entities`. 😄

[2017-01-06 17:32] harshitdx29 commented on #148
Awesome then 😆  will start working on it soon 👍

[2017-01-09 03:24] Icyphox commented on #119
Oh okay, that's great.

[2017-01-15 17:41] #34 closed

[2017-01-15 18:00] #145 closed

[2017-01-15 18:02] swapagarwal commented on #95
Closed in #149

[2017-01-15 18:02] #95 closed

[2017-01-15 18:03] swapagarwal commented on #17
Added in b5deccd7c0de1d3a0b4b286d5997e8b8956026a8

[2017-01-15 18:03] #17 closed

[2017-01-15 18:23] swapagarwal opened #156 "Lyrics: Search inside lyrics instead of title"
https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/lyrics.py#L12
Reference: https://developer.musixmatch.com/documentation/api-reference/track-search

[2017-01-15 18:53] swapagarwal opened #157 "Anime: Use a new source"
`anime` module is down!!

`Hummingbird` is dead (https://medium.com/heykitsu/hummingbird-is-dead-long-live-kitsu-bda6ccfbbcce)
See if `Kitsu` can be used? If not, find a new source.

[2017-01-16 07:03] phil0s0pher commented on #156
Hey, this is my first time contributing to a project. I would like to try doing this.

[2017-01-17 00:37] conormag94 commented on #157
Hi @swapagarwal I found another API called `Anilist` http://anilist-api.readthedocs.io/en/latest/index.html

It seems like a well documented alternative API you could possibly use?

[2017-01-22 11:34] acquayefrank commented on #156
Hi, I wanted to work on this, but I started running into issues when I try to run the code.
Quick question - Does it work with python 3.  If not can I make it work  with both python 2 and 3

[2017-01-22 17:30] swapagarwal commented on #157
Hey @conormag94, have you played around with the API? We need to identify the right API methods to call in our module.

[2017-01-22 17:32] swapagarwal commented on #156
Hi @phil0s0pher, thanks for taking an interest. It seems @acquayefrank has already created a PR for this. You may pick another one here: https://github.com/swapagarwal/JARVIS-on-Messenger/labels/Low-Hanging%20Fruit
@acquayefrank: It runs on Python 2.7

[2017-01-23 10:15] manparvesh commented on #150
I found something that might work. Check [this](http://stackoverflow.com/a/19048193) out! The answer is in java but Python code sample is also given on Google's website.

[2017-01-23 12:02] conormag94 commented on #157
Hey @swapagarwal I haven't played around with it myself I just noticed it on a reddit post the other day and thought it could be useful.

I don't have the time at the moment to take a look at this but I could come back in 2-3 weeks and have a look at it if no one else has picked it up by then.

[2017-01-23 17:39] swapagarwal opened #159 "Add list template"
https://developers.facebook.com/docs/messenger-platform/send-api-reference/list-template

[2017-01-24 05:10] manparvesh opened #160 "Books module"
The books module does not seem to be working properly. Some of the queries didn't return any response at all. Please take a look.
Here are some of the queries I used:
![screenshot_20170124-130716](https://cloud.githubusercontent.com/assets/6629115/22234855/56fc1dac-e236-11e6-911f-9b95bc2f350b.png)

[2017-01-28 04:37] shreab373 commented on #152
i couln't find a PR for this but is anyone working on this? can i take this up?

[2017-01-28 08:24] syfluqs opened #161 "html5lib"
Upon running jarvis.py the following error was found

[code]

[2017-01-28 08:26] dranknight09 commented on #161
Try...
pip2 install html5lib==0.9999999

[2017-01-28 09:24] syfluqs commented on #161
Thanks, it worked! Maybe the requirements.txt should have an entry for html5lib.

[2017-01-28 09:24] #161 closed

[2017-01-28 09:55] abhisheksp commented on #160
There seems to be no response or delayed response from the goodreads API.

Some of the things I observed in the codebase:
1. The units tests are only testing only a minute part of the actual functionality. Issues like these can be caught way in advance with mock API servers with delayed response or no response.
2. a lot of refactor opportunities.

I would love to do some refactoring and improve th

[2017-01-29 20:06] torquecoder opened #164 "Adding feature of replying back ongoing and upcoming competitive progamming contests"
I am new to the world of open source contribution and I recently made similar messenger chat bot in a Hackathon. I would really love if I can get the responsilbility of this feature.

[2017-02-03 12:29] mayukh18 opened #165 "Changing Geocoding API and 'weather_location' in weather module"
I suggest two things which I think will be better.

1. Shifting from mapquest api to google maps api for geocoding locations to longitude/latitude. The Google Maps API is more extensive and may help in case of extending other modules.

2. The 'weather_location' entity is limiting it's use case. Changing it to a more general 'location' entity is better else the wit.ai will be cluttered with many su

[2017-02-03 13:30] mayukh18 commented on #159
Hi, anyone working on this or can I take this up?

[2017-02-03 19:44] conormag94 commented on #157
Hi @swapagarwal so I've had another look at Kitsu and I think it can be used. Its very new though so there is barely any documentation. I also don't think there is a way to register an application for authentication with Kitsu yet so they provide a public key to use.

Since the `anime` module just searches the old API, I think this Kitsu call can be used to replace it: http://docs.kitsu17.apiary.i

[2017-02-03 23:53] aguy01 commented on #156
i am novice. can i work on this project on desktop than mobile device? any mentor i can tag along with?

[2017-02-04 00:05] conormag94 commented on #157
Submitted a pull request to fix this #166.

[2017-02-11 19:34] zeynepakkalyoncu commented on #112
I would like to start with developing a module for flights with the Skyscanner API; is anyone else already working on this?

[2017-02-16 21:34] pentagon98 opened #168 "There was some error while retrieving data from NewsAPI."
I used Facebook Messenger.

The reply to news / latest new was:
"There was some error while retrieving data from NewsAPI."

I have attached the picture:
![jarvis_error](https://cloud.githubusercontent.com/assets/10035715/23042181/f5f40b54-f497-11e6-9f2f-3c43cae032df.jpg)

[2017-02-16 23:47] ravitejapinnaka commented on #150
I'm interested in building this small module. I think I can try a similar Python script as suggested by @manparvesh in his previous comment.

[2017-02-17 10:19] MaxKusnadi commented on #42
Hi I am new to the OSS community. Is this resolved? I suggest that we can use wit.ai to build a chat bot model. Basically we can train the ai to give responses according to the input. However, it is different from the Microsoft Bot as we get to select the responses. It is more of parsing the user input. I have tried it before and it is not bad.

[2017-02-17 10:25] anilkunchalaece commented on #150
@ravitejapinnaka :+1:

[2017-02-20 00:03] StrangeCharm opened #169 "Pig Latin"
I was wondering if I could add a new module that will return the input back in Pig Latin.

[2017-02-23 04:17] GroveIV opened #170 "Unit Conversion"
I think it would be pretty cool for Jarvis to be able to do unit conversion so that you could do something like "convert 5 m to ft" and have it respond "5 m = 16.4042 ft"

[2017-02-26 19:02] chaseedward commented on #168
I believe this must have been a temporary error stemming from the API that is used (NewsAPI, https://newsapi.org/).  I have tried to replicate the error on separate occasions, on separate days and cannot get that error.

[2017-02-28 10:44] #168 closed

[2017-03-01 02:44] vonnenaut opened #171 "News module not working"
Query:  'latest news'
Response Message:  'There was some error while retrieving data from NewsAPI.'

I will look into this, though I will have to first get my bearings.

[2017-03-01 03:19] vonnenaut commented on #171
Now it's working -- likely just a network issue.

[2017-03-01 07:45] mayukh18 commented on #171
check #168
Probably, it's better to use another news source if this problem becomes way too frequent.

[2017-03-03 09:36] saurabhima opened #174 "Restaurant Suggestions using Zomato"
I would like to work on a module to add restaurant suggestions from Zomato. Does it seem like a good idea.

[2017-03-10 08:40] sandordargo commented on #170
To me it seems that the wit api think every conversion is about currencies. First we might have to update that one.

[2017-03-12 20:07] GroveIV opened #175 "No module name 'src'"
I have been attempting to set up Jarvis on messenger on my local machine, but I have run into a problem that I cannot seem to figure out.  First of all I am on a Windows machine and am using Python 3.4 (I searched and didn't see a reference to not using python 3).   When I attempt to run jarvis.py on the command prompt I get this error.

[code]

It seems that the \_\_init\_\_.py isn't finding 'src

[2017-03-13 21:49] Bluer01 commented on #175
I have the same issue. Followed the steps and got the same traceback.

[2017-03-14 05:32] chaseedward opened #176 "Adding new feature for real-time stock prices"
Hi there,

Does anyone think there would be interest in adding a new feature that would return real-time stock prices?  I’ve researched a couple APIs and they either cost money or have no documentation.  Then I stumbled upon this new API: https://www.iextrading.com/developer/.  It just launched at the beginning of this year so I’m not sure how stable it is.

For example, a query would be:

User: s

[2017-03-19 05:06] sks4903440 opened #177 "Duplicate facts"
The bot displays the same fact after repeated queries.

![a](https://cloud.githubusercontent.com/assets/15520349/24078293/d53522b2-0c8f-11e7-9695-d0c0ed3b773b.png)

[2017-03-20 20:57] edadesd opened #178 "Unit Testing"
Based on Issue #177 and @abhisheksp 's reply to #160 I wanted to write some unit tests to automatically confirm that the result is sufficiently random. But when I add them to test_fact.py and run py.test with the bot running locally (via python jarvis.py in another window) I just get an error message as the result of each query to modules.search('fact') (specifically: {"text": "Something didn't wo

[2017-03-20 22:23] edadesd commented on #177
It just looks like you drew the same random fact twice in three queries. There are currently only 11 facts in the data file, so I think this is to be expected a certain amount of time. It would happen less often overall if we added more facts to the bot.

[2017-03-21 02:13] sks4903440 commented on #177
Isn't there any API or a way to extract facts from [WTFFunFacts](http://wtffunfact.com/).

[2017-03-21 19:51] narendravardi commented on #156
Hey @swapagarwal, does that mean using q_lyrics instead of q_track? Let me know if I am correct. Is there any one working on this? If not, can i work on this issue? I am a newbie too :)

[2017-03-21 20:15] ringztech commented on #156
Hey, this is my first time contributing to a project. I would like to try doing this.

[2017-03-22 12:32] Icyphox opened #180 "Publicly host JARVIS Server"
I've got my own VPS now, and I'm willing to host the JARVIS Server for development purposes. If you remember the idea for a command line JARVIS client, this might be useful there.
Tell me your thoughts on this.

[2017-03-27 20:50] johnnyczhong opened #181 "theaters functionality"
I'd like to add a "theaters" endpoint for JARVIS. Like most operations here, it will be focused on providing information to the user, in this case, information about movies currently playing in theaters in a provided area. I would be using Fandango/Rotten Tomatoes API.

Example usage:
"theaters in seattle" - would return a list of theaters and their locations to the user.
"theaters playing Logan"

[2017-03-28 13:47] yahyazini commented on #171
I'm having the same issue where I followed the guide:
* Add a new file in modules/src/ folder (define process function)
* Add some tests in modules/tests/ folder
* Add the module name in src/__init__.py

But the url keeps on returning [null, {}]

[2017-04-07 21:29] Jamie22 opened #184 "Cannot install on Windows - OpenSSL issue"
When I try to do pip install on Windows I get the following error:

I tried both the 32 and 64 bit developer binaries from https://slproweb.com/products/Win32OpenSSL.html, and then followed the instructions by jsonm at http://stackoverflow.com/questions/22073516/failed-to-install-python-cryptography-package-with-pip-and-setup-py

I'm new to Python and don't know much about OpenSSL. Does anyone kno

[2017-05-18 12:03] swapagarwal commented on #152
@shreab373 Sure, go ahead!

[2017-05-18 12:04] swapagarwal commented on #161
Thanks @dranknight09! Would you know why others are not facing this issue?

[2017-05-18 12:09] swapagarwal commented on #160
@abhisheksp I would love to incorporate those! 😄  Would you still be willing to work on this?

[2017-05-18 12:12] swapagarwal commented on #178
You have to set your own keys in config.py, that's all.
I'd be extremely happy to include more unit tests! 😄
You're more than welcome to work on this.

[2017-05-18 12:13] swapagarwal commented on #177
@edadesd Correct!
@sks4903440 A quick search doesn't reveal any!

[2017-05-18 12:15] swapagarwal commented on #175
Jarvis runs on Python 2.

[2017-05-18 12:19] swapagarwal commented on #164
Sure, go ahead!

[2017-05-18 12:20] swapagarwal commented on #165
Cool, I'll be waiting for the PR! 😄

[2017-05-18 14:42] Jamie22 commented on #184
3.6

[2017-05-18 19:46] swapagarwal commented on #184
Jarvis runs on Python 2. 😅

[2017-05-20 21:26] KrMantavya commented on #156
Hey, I want to work on this!

[2017-05-21 14:46] ActualSize opened #186 "Wit's handling of currency conversion"
Currently, wit does not recognise all currencies available from fixer.io. '10 AUD to USD' will not work but '10 USD to AUD' will.

As far as I can see the error comes directly after the api.wit.ai request, which results in data such as:

`["currency", {"to_currency": [{"confidence": 1, "type": "value", "value": "aud"}, {"suggested": true, "confidence": 0.93904722146817, "type": "value", "value": "

[2017-05-21 17:45] #157 closed

[2017-05-21 17:50] swapagarwal commented on #157
Hey @conormag94, great work! Thanks to you, the anime module is back up and running. 🎉
Kudos for diving into Kitsu w/o proper documentation. 😄

[2017-05-21 18:06] swapagarwal opened #187 "Anime: Add more data"
Following data can be added to anime response:
- popularityRank
- ratingRank
- episodeCount
Feel free to suggest more!
Here's the API response: https://kitsu.io/api/edge/anime?filter[text]=naruto
The relevant fields should be added here: https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/anime.py#L20

[2017-05-21 18:09] swapagarwal opened #188 "Anime: Add YouTube link"
Extract "youtubeVideoId" from the [API response](https://kitsu.io/api/edge/anime?filter[text]=naruto), and add another link [here](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/anime.py#L24).

[2017-05-21 18:10] swapagarwal opened #189 "Update the demo video"
The vimeo link is way too old!

[2017-05-21 19:05] swapagarwal commented on #112
@zeynepakkalyoncu You may go ahead! 😄

[2017-05-21 19:08] swapagarwal commented on #42
@MaxKusnadi Welcome Max! 😄
This is yet to be done.
Jarvis currently uses wit.ai to understand the intent. This requires keeping a context in a conversation. Feel free to experiment with some ideas!

[2017-05-21 19:10] swapagarwal commented on #150
@ravitejapinnaka Were you able to progress on this?

[2017-05-21 19:12] swapagarwal commented on #169
We can definitely add that module, but I don't see it being used by people as much as the other modules. Looking forward to more new module ideas...

[2017-05-21 19:12] #169 closed

[2017-05-21 19:15] swapagarwal commented on #171
@mayukh18 Makes sense. Right now, it seems stable!
@yahyazini Did you add the api key in config.py?

[2017-05-21 19:17] swapagarwal commented on #174
Yep, go ahead! You can take location as the input from user.

[2017-05-21 19:19] swapagarwal commented on #170
@GroveIV / @sandordargo Would you be willing to work on making a common conversion library?

[2017-05-21 19:20] swapagarwal commented on #176
Looks good to me @chaseedward, go ahead! 😄

[2017-05-21 19:22] swapagarwal commented on #174
You can use this for reference: https://github.com/swapagarwal/JARVIS-on-Messenger/pull/98

[2017-05-21 19:25] swapagarwal commented on #181
@johnnyczhong Did you find an API that can be used for this purpose?
This looks like a good value-addition to jarvis. Let me know if you need any help!

[2017-05-21 19:33] swapagarwal commented on #156
@KrMantavya Go ahead! 😄
@aguy01 Yes, you can. Create an issue first describing what you'll be doing, and then you can post there if you run into any issues.
@narendravardi @ringztech You may pick another one from here: https://github.com/swapagarwal/JARVIS-on-Messenger/labels/Low-Hanging%20Fruit

[2017-05-21 19:35] swapagarwal commented on #180
Awesome! It'd be great to have that. 😍

[2017-05-21 19:42] swapagarwal commented on #186
@ActualSize "10 AUD to USD" works now. It depends on how the bot is trained. 😅
If we can make a list of what scenarios are not working, that'd be quite helpful as the bot can be trained with those queries then!

[2017-05-21 22:01] ActualSize commented on #186
Yeah, I poked around in wit just after lodging this. I just didn't know how wit worked well enough, I understand how it works now.

[2017-05-21 22:01] #186 closed

[2017-05-22 01:29] ActualSize commented on #188
Could I do this one, I've never contributed before and this seems like a good starting point?

[2017-05-22 01:41] guzmanga commented on #188
I would also like to try this one, if it's ok.

[2017-05-22 15:19] palash25 opened #191 "Add more facts"
I am new to open source and I would like to make my first contribution by adding some more interesting facts to facts.json

[2017-05-22 17:50] KrMantavya commented on #156
@swapagarwal Thankyou. Will try and raise a PR as soon as possible

[2017-05-22 18:12] conormag94 commented on #157
No problem @swapagarwal glad I could help 😄

[2017-05-22 19:06] KrMantavya commented on #156
@swapagarwal please review my PR.

[2017-05-22 19:20] narendravardi commented on #187
@swapagarwal, can i work on this?

[2017-05-22 19:32] narendravardi commented on #187
@swapagarwal, It would be good if we can add 'episodeLength' besides above mentioned details. Let me know your thought on this.

[2017-05-24 17:52] katipallya commented on #177
@swapagarwal I'd like to take on the facts module - there must be a better way to do this than storing the facts locally.

[2017-05-24 18:58] katipallya commented on #31
So was this ever worked on furhter? @swapagarwal

[2017-05-25 16:53] abhisheksp commented on #160
@swapagarwal Yes i'll handle it. Since I am busy with some personal stuff, it'll be a bit delayed.

[2017-05-29 16:03] ravitejapinnaka commented on #150
No, I didn't find much time.

On Sun, May 21, 2017 at 12:10 PM, Swapnil Agarwal <notifications@github.com>
wrote:

[2017-06-01 04:18] sanjitjain2 commented on #188
Hello, I'm interested, I am a first timer and would take some time to understand the code. Is this issue still open?
I would like to help.
Can someone guide me?

[2017-06-04 01:44] swapagarwal commented on #160
@abhisheksp Sure, np!

[2017-06-04 02:24] #156 closed

[2017-06-04 18:09] #191 closed

[2017-06-05 18:05] jervlapsley opened #195 "Do you have a Designer?"
I'm an aspiring Graphic Designer, and student in programming and Information Technology. I want to give back to the industry by participating in Open Source Projects.

I will create a logo and any other graphic that you might need, and most likely help with the coding when I'm skilled enough.
Thanks.

[2017-06-08 04:14] swapagarwal commented on #195
Hey Jervik, welcome to the amazing world of open-source! 🎉
We don't have a designer yet, so you are more than welcome to contribute. A logo makes the first impression to users, and so I'd be extremely happy to have a logo designed for Jarvis.
I'd be looking forward to your contributions, both in design as well as in code. 😄

[2017-06-10 13:15] Wert1996 opened #198 "Urban Dictionary definition"
I'd like to add a functionality to view definition of a word or phrase from Urban Dictionary. It;s pretty relevant seeing that Jarvis is a messenger bot.
For eg :- 'urban define lol' would give its definition from Urban dictionary.
This may cause some conflicts with dictionary feature. It would have to rely on the 'urban' keyword.
Please let me know how you think.

[2017-06-11 19:15] williamsonz opened #199 "Error message format / exception file? (suggestion)"
Curious regarding the error messages in certain modules, adding multiple lines to each error message rather than trying a triple-quote string like below:

[code]
(I don't know if this would conflict with the TextTemplate; I'm not entirely sure how that works. This would be mostly cleaning up / simplifying code)

Also since the first section of the error message is the same, perhaps dedicate an exc

[2017-06-14 13:39] #184 closed

[2017-06-14 13:39] #175 closed

[2017-06-14 13:51] swapagarwal commented on #199
Hi @williamsonz
I didn't think much about that when I wrote it. 😄
TextTemplate would work in both ways; it just needs a string to display.
Now that I think about it, there is definitely a redundancy; it can be modularized.
A good way would be: define the examples as a list in the module (say book), and that can be used both to show the error message and the tests (see test_book).
Feel free to disc

[2017-06-14 13:55] swapagarwal commented on #198
Looks good to me! 😄
Can `define` be avoided somehow? 😜

[2017-06-14 16:56] Wert1996 commented on #198
I cant really think of anything else other than 'urban lol' :stuck_out_tongue_winking_eye:
Any suggestions?

[2017-06-14 18:19] williamsonz commented on #199
That's what I was thinking: modularity so you have less refactoring. I'd like to go ahead and clean the error/exception part up if that's alright.
This is going on a related tangent, but have you considered making elements object-oriented?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Swapnil Agarwal <notifications@github.com>
Sent: Wednesday, June 14, 2017 8:5

[2017-06-14 18:23] #187 closed

[2017-06-14 18:31] shivam043 commented on #188
Sorry sir,forgot to write the comment..
I have added a youtube link, Can you verify it??

[2017-06-14 18:38] swapagarwal commented on #199
Sure, go ahead! 😄
The `templates` are somewhat object-oriented. Are you referring to making a common `module` object?

[2017-06-14 22:52] williamsonz commented on #199
Possibly, or the requests. I'll see what options are available.

[2017-06-16 13:48] christopherjang commented on #198
`urbandictionary` maybe?

[2017-06-17 03:57] swapagarwal opened #202 "Ping: Add image in response"
Right now, `ping google.com` results in `google.com is up`.
We can add an image (green tick / red cross) to the response, for a better user experience.
Use `GenericTemplate` for this.

[2017-06-17 04:04] swapagarwal opened #203 "Ping: Handle URLs with path / parameters"
Some queries that are currently failing:
- ping google.com/maps
- ping google.com?a=b

Only the hostname should be checked for.

[2017-06-18 07:44] #188 closed

[2017-06-18 15:33] swapagarwal opened #205 "Add style check in pull requests"
A quick search yields some options:
* Stickler CI
* Hound CI
* Codacy
Feel free to discuss the pros / cons / alternatives here! 😄

[2017-06-19 09:38] #203 closed

[2017-06-19 16:15] leegenes commented on #202
I'd like to take a shot at this one, if that works. First time PR. I'll do a bit more digging, but seems pretty straight forward.

[2017-06-19 16:58] swapagarwal commented on #202
Awesome, go ahead! 😄

[2017-06-19 18:01] leegenes commented on #202
PR at #206

[2017-06-20 18:29] swapagarwal opened #207 "Status Dashboard"

[2017-06-21 12:23] swapagarwal commented on #177
@katipallya Initially, joke/quote/fact modules used APIs. Now, they have switched to offline curated sources. You can find the reasoning in closed issues like #4

[2017-06-21 12:26] swapagarwal commented on #31
@katipallya Sure, go ahead! You can create a test account for yourself to implement this; I'll create one for jarvis and link to config.py once the PR looks good.

[2017-06-21 12:27] swapagarwal commented on #191
Sorry for the late reply! Feel free to contribute at any time. 😄

[2017-06-21 14:32] swapagarwal commented on #205
Added Stickler CI for now. Will see how it works!

[2017-06-21 14:38] swapagarwal opened #208 "Optimize network calls"
Some of the API calls can be optimized by limiting the response.
e.g. If XYZ API returns 10 results by default, and we use only the top result; we can specify (in the request) how many items to return in the response, which optimizes the amount of data that gets transferred.
First Step: Figure out all such API calls.

[2017-06-21 16:28] srulih commented on #131
Hi I'm new to open source and i'd like to try this out. Is this project is still available and if so could you please provide some more details as to what I need to do.

[2017-06-21 16:46] srulih commented on #208
Hi I'm new to open source. Could you please provide a bit more detail as to how I could complete this project?

[2017-06-22 02:05] #202 closed

[2017-06-22 02:16] swapagarwal opened #209 "Images with square aspect ratio"
Previously, `GenericTemplate` only rendered images in the ratio 1.91:1. Now, we have the option of rendering it in 1:1 ratio! Check all modules where `GenericTemplate` is being used, and see jarvis' response to determine whether we should switch to square images in that module.
e.g. `ping` module uses square aspect ratio.

[2017-06-22 02:21] swapagarwal commented on #152
Hey @vinamrabhatia / @shreab373 , do you need any help?

[2017-06-22 16:00] swapagarwal commented on #207
A `status` module can be put in place, which will show the corresponding statuses fetched from *somewhere* (updated every hour or so). Need to explore options for storing the information. Simple options include caching, cron job, etc.

[2017-06-23 10:40] brandonmichaelhunter commented on #208
Good morning @swapagarwal  - so are say something adding an parameter to the API that allow the user to define the number of items to return?

[2017-06-23 11:50] swapagarwal commented on #208
@srulih @brandonmichaelhunter User won't define the number of items to return. We shall limit it in our backend api calls as much as possible.
e.g. In `anime` module, the api call returns multiple results but we only use the top one. We can limit the response to return only one result by specifying a parameter in the call. Hope that makes sense! 😄

[2017-06-23 13:31] swapagarwal commented on #178
@edadesd Will you be willing to work on this?

[2017-06-23 13:32] swapagarwal commented on #131
@srulih You can use the other commits as reference to update the `quote` module.

[2017-06-23 22:40] edadesd commented on #178
I'll look into this some more and let you know if I can commit to working on it.

[2017-06-24 04:01] swapagarwal commented on #178
Say you want to test dictionary module locally, then you'll have to set WORDS_API_KEY here: https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/config.py

[2017-06-24 06:16] #144 closed

[2017-06-24 06:20] swapagarwal commented on #164
Hey @torquecoder, are you working on this?

[2017-06-24 06:21] swapagarwal commented on #165
Hey @mayukh18, any update on this?

[2017-06-24 06:23] #171 closed

[2017-06-24 06:24] swapagarwal commented on #176
Hey @chaseedward, were you able to make some progress on this?

[2017-06-24 06:25] swapagarwal commented on #195
@jervlapsley Let me know if you need any help!

[2017-06-24 06:41] swapagarwal opened #210 "Ping: Add relevant buttons"
Two buttons can be added:
* Is it up? link e.g. "https://isitup.org/google.com"
* Go to website link e.g. "google.com"
Feel free to suggest more!

[2017-06-24 09:25] jervlapsley commented on #195
@swapagarwal Alright Thanks! I just started the logo sketches because I have been busy over the weeks

[2017-06-24 18:55] chanondw commented on #131
pull request #211 for quick reply on quote

[2017-06-24 19:15] torquecoder commented on #164
Sure! I somehow missed the last comment by you. Didn't knew that project is active again.

[2017-06-24 21:32] willmichael commented on #210
Hi I'd like to look into implementing this if thats okay, it would be my first OS contribution

[2017-06-25 11:24] #131 closed

[2017-06-25 11:34] swapagarwal commented on #164
Cool, np! 😄

[2017-06-25 12:09] mayukh18 commented on #165
Sorry I forgot. l'll do it soon.

On Sat, 24 Jun 2017, 11:51 a.m. Swapnil Agarwal, <notifications@github.com>
wrote:

[2017-06-25 15:07] swapagarwal commented on #165
Cool, np!

[2017-06-25 16:48] leegenes opened #214 "Ping: Seems to only work with google.com"
Seems to be a problem with the ping module where only google.com returns a response from the module.

Receiving this error on all ping requests that aren't google.com:
I'm sorry; I'm not sure I understand what you're trying to say sir.
Try typing "help" or "request"

[2017-06-25 16:49] leegenes commented on #214
Tangentially, might consider de-gendering the error message.

[2017-06-25 17:02] swapagarwal commented on #214
@leegenes Can you share some sample queries?
Improving the error message makes sense.

[2017-06-25 17:11] leegenes commented on #214
@swapagarwal
ping amazon.com
ping isitup.org
ping yahoo.com

[2017-06-25 17:14] swapagarwal commented on #214
@leegenes Trained wit using a couple more queries. Can you check now?

[2017-06-25 17:15] leegenes commented on #214
@swapagarwal
Working now. Though, site link and isitup.org link are now removed.

[2017-06-25 17:18] swapagarwal commented on #214
Cool! Ohh, that was part of testing of an ongoing PR. 😜

[2017-06-25 19:20] #210 closed

[2017-06-25 19:25] swapagarwal opened #215 "Gender-neutral responses"
Some messages are gender-specific, like:
[code]
Can (Should) we make them gender-neutral?

[2017-06-25 19:26] swapagarwal commented on #214
@leegenes The two links are now merged. 😄
Tracking the other suggestion in #215

[2017-06-25 19:26] #214 closed

[2017-06-25 19:29] swapagarwal opened #216 "Easier Testing of Pull Requests"
See https://devcenter.heroku.com/articles/github-integration-review-apps

[2017-06-27 09:14] swapagarwal commented on #216
Looks cool, testing this out on new PRs! 🎉

[2017-06-27 11:30] torquecoder commented on #176
Yo @swapagarwal, should I add this feature?

[2017-06-27 17:08] swapagarwal commented on #198
How about showing two definitions in the `dictionary` module itself?
One normal; other urban. In different cards maybe!

[2017-06-27 17:37] Wert1996 commented on #198
Nice idea, but the domain of words the 2 dictionaries cover is very different.
One of the 2 cards will give an error on most of the queries.

[2017-06-27 19:22] swapagarwal opened #219 "Xkcd: Add quick reply for getting another comic"
See `coin` module for reference.

[2017-06-27 19:27] Wert1996 commented on #198
Seems fine :)
Would you elaborate "cards"? :)

[2017-06-27 19:30] swapagarwal commented on #198
Option 1: See GenericTemplate e.g. news module.
Option 2: Serve both definitions using TextTemplate, separated by a couple of newlines.

[2017-06-27 20:11] bryantvolk commented on #219
Just submitted my first ever pull request for this! I hope it's functionality is what you're looking for

[2017-06-27 21:41] leegenes commented on #215
+1
Don't see added value in having a gendered answer, and do see potential for cases to detract from the bot's value for some users.

[2017-06-28 00:31] edadesd commented on #215
+1
It's a good thing to strive for.

[2017-06-28 01:27] edadesd commented on #178
The facts module does not have a relevant API key because the facts source file is a local file. But when I run test_fact the only return I ever get is {'text':'Something didn't work as expected! I'll report this to my master.'}

[2017-06-28 05:22] swapagarwal commented on #178
No, you only need a FB token to interact with messenger.
Try using this command:
`py.test modules/tests/test_fact.py`
Let's first only work on unit tests for one module (fact).
Initial structure looks good. We can even assert that the `text` is one of the lines in `facts.json`.

[2017-06-28 05:26] ssummun54 commented on #215
What about asking in the beginning for the sex and then he goes off of that. We could have a gender neutral option too

_Sent from my Huawei Nexus 6P using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 06:07] #219 closed

[2017-06-28 06:08] swapagarwal commented on #219
Nice work @bryantvolk! Welcome to open-source. 😄

[2017-06-28 06:13] swapagarwal commented on #215
We can get the gender from the User Profile API. 🎉
Just like we're getting the name [here](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/__init__.py#L48), we can get more info about the [user](https://developers.facebook.com/docs/messenger-platform/user-profile).

[2017-06-28 06:20] swapagarwal commented on #152
A `gif` is required that will flip / roll for a few seconds, to add some anticipation!

[2017-06-28 06:25] swapagarwal commented on #195
Hey @jervlapsley, we have an ongoing issue pending, to add animations in coin and dice modules. Right now, it displays the outcome as an image. It'd be awesome to have a small animation to have an anticipation effect! See #152
Would you be willing to pick that up?

[2017-06-28 10:10] abhisheksp opened #221 "Basic conversations not supported"
The bot cannot respond to simple queries like "Hi", "What day is it?".

I believe wit.ai should provide this rather easily

[2017-06-28 10:19] edadesd commented on #178
That command got me an actual response from the facts file. I submitted pull request #222 based on your comments to the above examples.

[2017-06-28 13:32] leegenes commented on #215
Safest bet seems to be using name, if that's available.

[2017-06-28 13:49] pt2pham commented on #215
The gender is available in the API, names could include names that are applicable to both genders.

_Sent from my Samsung SM-G930W8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-28 14:12] leegenes commented on #215
@pt2pham - I guess I'm suggesting we skip gender. Just refer to people by name.

[2017-06-28 14:32] pt2pham commented on #215
@leegenes ah I see, had a misunderstanding. That seems to be the best solution I'd agree.

_Sent from my Samsung SM-G930W8 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-29 06:47] swapagarwal commented on #221
"Hi" should trigger the `hello` module; can you recheck?
"What day is it?" would have to be answered via a new module. Currently, there is no fallback module that can handle such queries. Maybe Wolfram Alpha can be a good source for this.

[2017-06-29 17:59] swapagarwal opened #224 "music module is down"
See https://developer.spotify.com/migration-guide-for-unauthenticated-web-api-calls/
Also, we needed #207 resolved yesterday!

[2017-06-29 19:57] nicholassavini commented on #215
I agree with avoiding the concept of gender altogether. Some users may be equally turned off it were only presented as a binary option, and it seems to add little value to include gendered answers.

[2017-06-30 13:20] edadesd commented on #207
Maybe a JSON file with a dictionary filled with keys = API name, values = status. Then a cron job that runs a script every hour to poll for status and update the JSON file if needed.

[2017-06-30 13:37] edadesd commented on #224
I think we'll need to use the Client Credentials flow, because we don't make requests on behalf of a particular user that require access to that user's account. The Client Credentials flow is explained here: https://developer.spotify.com/web-api/authorization-guide/#client_credentials_flow

We'll need to add a line for the API key to config.py and rework the module to get an access token, then car

[2017-06-30 20:17] abrahamalbert18 opened #226 "Units Converter Program"
@swapagarwal  I've written a units converter program and uploaded it and requested a pull in order to merge with Jarvis, however, my program is failing all the tests according to the stickler bot.
I don't understand the reason properly. I've modified the code based on the first 36 errors shown by the stickler bot.
I want you to look at the code and help me improve my code. I'd love to learn it. In

[2017-06-30 20:23] abrahamalbert18 commented on #170
I've written a conversion module. Please check Github JarvisConversion in my forked repository.

[2017-07-04 05:04] edadesd commented on #224
I'm working on this at the moment.

[2017-07-04 07:52] pallavigopi commented on #209
Hey ! I am relatively new to open source! i would like to work on this bug. Would you provide me a few more inputs so that I can start working on it!

[2017-07-04 09:06] pallavigopi commented on #209
Hi @swapagarwal !
The square template is used in music, news, ping, video, wiki and xkcd modules. We can switch the wiki module to square as it is more visually appealing. All the other modules are fine in the normal ratio.

[2017-07-10 10:35] Logan1x commented on #209
hey @swapagarwal  can you explain me more on this.

[2017-07-10 10:36] Logan1x commented on #208
i would like to work on this

[2017-07-10 19:51] edadesd commented on #178
The Anime module was first on the list, so I'm working on some more tests for it. I'm basing it on a shuffled list of test titles and comparing the module's response to what I get from an API call made during the test, in addition to checking that the expected items are returned in the payload.

[2017-07-12 03:44] twitu opened #237 "Improved movie module"
I think we can use free movie database apis on the web to enhance JARVIS's knowledge on movies. this includes everything from details about the crew to genres and summaries that can be provided to the user when he/she enters specific key words.

[2017-07-14 14:12] jonathanfmachado opened #239 "Advices on how to teach JARVIS some Portuguese?"
Hello guys,
I also would like to contribute to the project and I thought it would be a good idea to teach Jarvis a new language.
Any idea on what's the better way to accomplish it in terms of modules structure?

Thanks!

[2017-07-14 18:45] swapagarwal commented on #226
Hey @abrahamalbert18 , I have disabled the Stickler Bot temporarily. Can you create a new pull request? Sorry for the trouble. 😅

[2017-07-14 19:04] #208 closed

[2017-07-14 19:07] swapagarwal commented on #209
@pallavigopi Great!

[2017-07-14 19:17] swapagarwal commented on #237
Can you elaborate on what you would like jarvis to return?
A sample query with the current output as well as the proposed output would be great!

[2017-07-14 19:52] abrahamalbert18 commented on #226
I've updated the code and uploaded it. This code works in regular Python interpreter as it takes the input using "raw_input()". However I've a doubt in taking the input in Jarvis Module.
This code works offline too. It doesn't need any APIs. Please do test it and let me know the feedback.
Thank you,
Abraham Albert.

Sent from my iPhone

[2017-07-14 23:45] Faraaz54 opened #241 "Greetings responses could be more accurate."
A simple 'hi jarvis' was given a response 'everything wrapped up..would there be anything else'..

A more appropriate response from the greetings list could have been a 'hello sir' response or 'what can I do for you'..

I would certainly want to help on this regards.

We can certainly work on the responses to be more appropriate.

[2017-07-14 23:47] Faraaz54 commented on #241
This is my first open source project. .Please guide me on this..I have gone through the readme file and some of the src and templates files as well..to know about jarvis. .

[2017-07-18 13:23] swapagarwal opened #242 "movie module is down"
The backend API has gone private, and is no longer free.
https://www.patreon.com/posts/api-is-going-10743518
Look for an alternative.
P.S. It'd be great to have #207 resolved asap, rather than have people report that a module is down in the gitter chatroom! 😅

[2017-07-18 16:20] Redseb commented on #189
Hi, I know that you self-assigned the demo, but I was bored and decided to make one! Here's the Vimeo link: https://vimeo.com/226022581

Tell me if I can PR :)

_Sent from my Xiaomi MI MAX 2 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-19 11:05] abhihacker02 opened #243 "telling the time and date in any part of the world feature can be added"
It's not telling date when asked.It's an easy feature to add

[2017-07-19 19:29] edadesd commented on #242
What do you think of: https://www.themoviedb.org/documentation/api ?

[2017-07-19 19:31] edadesd commented on #243
We can possibly build a module that uses this API: https://timezonedb.com/api

[2017-07-19 20:00] edadesd commented on #243
When I run it locally, JARVIS's response includes the day, date, and time. Could you show a screenshot of what your response looks like?

![jarvisdate](https://user-images.githubusercontent.com/18205943/28386975-2eab14ee-6c82-11e7-946a-755ebb27a2f5.png)

[2017-07-21 19:17] edadesd commented on #242
One disadvantage of using TMDb is that it doesn't generate an IMDB link the way OMDb did. I have a basic module patch for TMDb at: https://github.com/edadesd/JARVIS-on-Messenger/commits/movieAPI

[2017-07-21 20:29] austinjcheng commented on #209
Submitted a PR that tweaked the modules that @pallavigopi mentioned.

[2017-07-22 00:39] edadesd opened #245 "Music module tests failing"
New pull requests are failing the Travis CI check based on failing the following test in test_music.py:

I wonder if something has changed in how the request processing API interprets that query.

[2017-07-22 06:29] swapagarwal commented on #245
Nothing changed from our side; Retrained it to work as expected! (Not sure of the root cause.)

[2017-07-22 06:29] #245 closed

[2017-07-22 06:48] #224 closed

[2017-07-22 07:35] swapagarwal commented on #189
Hi Miko, that's an awesome demo! 😄
I really liked the part towards the end. You should definitely send a PR. 🎉

[2017-07-22 09:54] #189 closed

[2017-07-22 17:33] swapagarwal opened #247 "Usage metrics (module-wise)"
Think of a good way to gather usage metrics, and analyze them; e.g. which modules are being used the most, how many times a module is consecutively used, what's the correlation between two modules, etc.

[2017-07-22 17:53] swapagarwal opened #248 "Wiki: Add random page as quick reply"

[2017-07-23 20:51] marshareb commented on #248
What do you mean as a quick reply?

[2017-07-24 09:34] edadesd commented on #247
If someone knows of an applicable library, that would probably be best. Failing that, I could see a database that records username, module called, search term, and time whenever someone uses a module.

[2017-07-25 01:57] edadesd commented on #248
Quick Replies add buttons to a response that a user can click for effect:

https://developers.facebook.com/docs/messenger-platform/send-api-reference/quick-replies

[2017-07-25 07:36] a1shadows commented on #242
Why not use the official rotten tomatoes api? It's legal and just as legit as imdb.

[2017-07-25 20:17] edadesd commented on #242
Rotten Tomatoes and Fandango APIS: https://developer.fandango.com/

It sounds like the Rotten Tomatoes API only gives reviews and scores. The (related) Fandango API says it can give movie information, but from the documentation it doesn't appear that you can search by movie name. You have to search by location to get movies showing at nearby theaters.

[2017-07-26 08:04] aviral1701 commented on #248
Hi @swapagarwal !
I would like on this one! Can I take it?
Also instead of any random wiki page, we could add pages given in the "See Also" section of the wiki pages. Is this better or should I stick with any random page?

[2017-07-27 04:24] a1shadows commented on #242
TMDb it is, then.

[2017-07-27 07:43] aviral1701 commented on #248
@swapagarwal Any Updates?

[2017-07-27 16:51] saurabh-deochake opened #249 "Provide sports matches scores and info"
In my opinion, we should build a new module which will fetch the scores of sports matches that are live currently. We can start with Cricket matches (then extend to Football and others) and to fetch the scores we can use espncricinfo api engines.

Are we already considering a sports module or we did in past? Please let me know because I do not intend to duplicate an issue.

[2017-07-27 20:10] edadesd commented on #242
You can keep looking for another API if you want. I only linked to my TMDb patch instead of setting up a PR in case someone found a better API to use.

[2017-07-27 20:20] edadesd commented on #249
https://github.com/codophobia/pycricbuzz - A Python library that scrapes live scores from http://www.cricbuzz.com/ ; usage explained at http://shivammitra.com/cricbuzz-api-for-python/

[2017-07-28 09:22] made2591 commented on #248
@aviral1701 me too, can I work at this with you? Have you already forked?

[2017-07-29 03:36] saurabh-deochake commented on #249
@edadesd Yes. I am aware of that. I am just asking did we consider adding sports module earlier? If not, should we go ahead and do it?

[2017-07-29 06:05] edadesd commented on #249
I can't find any other issues or PRs mentioning sports, so it doesn't look like you would be duplicating any work. I just posted those links in case anyone who might potentially work on the module found them useful.

[2017-07-30 06:51] rahul0379 commented on #248
Hi @swapagarwal!

I would also like to work on this.
I was looking throught the code of `wiki.py` and it seems that the current deployment of JARVIS does not catch the `wikipedia.exceptions.DisambiguationError`. For example, input "wikipedia shiv"(wiki shiv leads to a disambiguation page) to Jarvis should return buttons for all the options. Instead, it goes to the generic exception and says 'I cou

[2017-07-30 09:31] horrormyth commented on #247
How about deciding a proper convention for having the status or event for each module and use Python logger to record these.Whenever a new module is written, it should strictly reflect the predefined convention.
**For example**
[code]
and same for the errors and exception as well. Having these we will have proper events to track.

[2017-07-30 14:24] swapagarwal commented on #247
@edadesd How about Firebase for storing the data? I'm not sure how easy is it to query.
@horrormyth That is the ideal way to go! We need to decide on the fields that are relevant, and then decide the logging schema.

[2017-07-30 14:39] swapagarwal commented on #248
As @marshareb was the first to get involved, the first option goes to him. 🎉
@marshareb Would you be willing to own this?
@edadesd Thanks!
@aviral1701 Did you look into the API to see if we could get the "See Also" pages? That would definitely be better. 😄
@rahul0379 The code is in sync. 🤔 Can you try again? I'm getting the expected results.
@aviral1701 @made2591 @rahul0379 I have some issues note

[2017-07-30 14:49] swapagarwal commented on #242
IMDb id is important, as we only provide a gist of the movie information in the response.
Here's a relevant link: https://www.themoviedb.org/talk/5851f2ddc3a368258c0127b0 😉

[2017-07-30 15:26] made2591 commented on #248
@swapagarwal no problems at all XD I'm currently working on several small-medium-big projects so...let's code 👍

[2017-07-30 15:53] horrormyth commented on #247
Yup do you have anything in mind regarding the scheme and the fields @swapagarwal If we come up with something concrete on this, then this would pave a way to the dashboard feature as well. Regarding the Firebase, what is your take on Firebase as you suggested?

[2017-07-30 17:40] aviral1701 commented on #248
@swapagarwal Yes! Here is a good explanation : https://stackoverflow.com/questions/37396367/how-to-extract-links-from-see-also-section-of-an-article-in-wikipedia
Let me know if I can help in anyway!

[2017-07-31 06:47] edadesd commented on #247
It looks like there are some Python libraries for Firebase: https://firebase.google.com/docs/database/rest/start

I like the idea of using the Python logging library. It looks like it can send pertinent information to a log file with every call, which sounds useful to build a database out of.

[2017-07-31 07:13] edadesd commented on #242
That's a good link, thanks for finding it. I'll work on a version that uses the TMDB ID to fetch the IMDB ID and makes an IMDB link.

[2017-07-31 13:29] ahmedsadman opened #250 "Fetch daily updates from curosity.com"
# New feature
If you know or used the android app of curiosity, you know it's a great website to learn new and interesting facts of science. For more details you can visit: https://curiosity.com/

I think it would be great if JARVIS could fetch the summary of the latest topics, and give user a link to those topics. When user finds a topic interesting, he may click the link to go to the website to

[2017-07-31 13:38] ahmedsadman commented on #249
Is anyone working on this? If not, I am eager to do so.

[2017-07-31 13:57] saurabh-deochake commented on #249
@ahmedsadman  Even I am eager to do it. I already have source code ready for it. If you want, we can take this together. I have Cricket source code but if you are eager you may take football/soccer scores? Or vice versa, let me know.

[2017-07-31 14:19] ahmedsadman commented on #249
@saurabh-deochake  I searched for Soccer apis, but unfortunately found none that is FREE. If you have any API's in your mind, please let me know.
And I would like to do the Cricket api, but as you already have source code, I don't want to ruin it.

[2017-07-31 14:37] saurabh-deochake commented on #249
@ahmedsadman I think this would work- http://api.football-data.org/index . Would you take a look at it, please?

[2017-07-31 16:22] horrormyth commented on #247
Yes, @edadesd  that would be the simplest and ideal way to catch every event, however, the proper schema, the model and DB should be decided.As long as these are ready, I hope the rest should be not trivial.

[2017-07-31 18:22] ahmedsadman commented on #249
@saurabh-deochake  I checked it before you had asked. This API doesn't provide any LIVE score. It provides the following:

-Fixtures
-Team Standings/Rankings
-Team info
-Player info etc.

So, are we okay with that? I think not. This API doesn't even provide historical results.

## Another important fact to note
### Should we really implement something using FREE API?
When you implement a free API

[2017-07-31 20:14] saurabh-deochake commented on #249
I guess for football, non-live feed would work. We can ask "Next match of Manchester United", "la liga matches this week", "champions league fixtures" and provide answers to these inputs.

With this at least we would have some information about soccer/football. Later on, we can add more sports.

What do you think?

[2017-07-31 21:14] edadesd commented on #242
Opened PR #251 to address this.

[2017-08-01 05:09] ahmedsadman commented on #249
Yes, I can start working into this right away. Let me explore the API thoroughly and I would give a list of what we can implement for a starting. But, we need the developers consent before starting to work in this feature, right?

[2017-08-01 05:48] sync350 commented on #215
Is anyone actively working on this? Looks like the general consensus is to avoid using genders, and to refer to the user by name instead. I'd love to try my hand at this. It's my first time working with this kind of project, so I can't make any promises, but I'm willing to give it a shot.

[2017-08-01 09:17] edadesd commented on #249
Nobody has objected to the idea of the module, and I think it sounds like a good thing for the bot to have. So it's my opinion that you're clear to at least start coding and to make a pull request.

_Sent from my Samsung SAMSUNG-SM-G930A using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-01 10:31] ahmedsadman commented on #249
Okay, I am starting to work with the soccer module.

[2017-08-01 17:12] ahmedsadman commented on #249
@saurabh-deochake  I want to implement the following things for the soccer module, for the time being:

1. "soccer code manchester united" will return the codename (in this case, MUFC) of the team manchester united, which will be used later for further query
2. "soccer code leagues" would print league codenames which can be used for further query.
3. "soccer live" would print the scores of live ma

[2017-08-01 21:40] saurabh-deochake commented on #249
@ahmedsadman Instead of getting code and using that code for getting results, can we not directly provide name of the team/league? If I were the user of this module, I would directly query using team name instead of remembering league codes/team codes. Please correct me if I am wrong.

[2017-08-02 03:38] ahmedsadman commented on #249
@saurabh-deochake Here's the thing: generally 99% user would focus on one or two specific leagues as well as few specific teams, maybe their favorites. So, it would be better if they could write "soccer next match fcb" instead of "soccer next match barcelona", or "soccer next match mufc" instead of "soccer next match manchester united". This would save time and hassle.
If I try to implement team n

[2017-08-03 05:37] ahmedsadman opened #256 "Support for newer wit api"
Newer version of wit ai sends a different response structure. Now there is no separate intent key, instead intent is now integrated inside entities.
Pull request #255 was created to handle newer api response structure

_Sent from my Xiaomi MI 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-03 16:17] avirlrma opened #257 "Add a Maths Module"
Jarvis doesn't have a maths module till now so it can't answer even basic questions.If you like it to be there @swapagarwal , **I would like to implement it**.

[2017-08-04 13:13] ahmedsadman commented on #249
Why everyone is inactive, should I continue working on this feature?

[2017-08-04 14:28] saurabh-deochake commented on #249
@ahmedsadman  I am sorry I could not get time from work to reply you. Please refer to other modules, how they are built and try to follow the style. Feel free to continue working on this.

[2017-08-04 15:35] aviral1701 commented on #257
@anyone?

[2017-08-04 16:22] ahmedsadman commented on #249
Yes, I am working. I have also seen other modules and I know that I need access to WIT AI to test my code. My question was, do I need to create my own WIT account or the developer will teach that AI for me? If I create my own account, how the developer's gonna teach the AI if the pull request is approved? Because only I know what I taught the AI. **Besides the new WIT version uses different respon

[2017-08-04 21:59] Utsal20 commented on #257
I could give it a try @aviral1701

[2017-08-04 22:18] aviral1701 commented on #257
@Utsal20 I said i would be implementing it and have already started working on it. Just want to seek @swapagarwal approval

[2017-08-05 09:33] horrormyth commented on #247
is there any update on this? @swapagarwal, @edadesd

[2017-08-05 12:30] swapagarwal commented on #256
Hi @ahmedsadman, I looked into the Wit.ai docs.
The version parameter is a date that essentially represents the "version" of the API we expect from Wit. It is designed to give developers the freedom to adapt to API changes on their own schedule. Basically, the date in YYYYMMDD format tells "I'm prepared for API changes up to this date."
Can you try calling Wit using v=20160420 ?

[2017-08-05 16:00] ahmedsadman commented on #256
@swapagarwal I had already tried those. But as you asked I did it again and got the following response:

[code]

As you can see, "intent" is set as "default intent", which I don't know where it came from, nor there is any option in the WIT to change the "default_intent" to some other value. And the intent I ACTUALLY set is integrated in the entities, which is "soccer".

[2017-08-05 19:16] edadesd commented on #257
I don't think you need to ask before writing up a module. Opening a pull request is how you get approval.

[2017-08-05 19:19] edadesd commented on #247
I don't have anything to add right now.

[2017-08-06 07:15] #242 closed

[2017-08-06 15:53] swapagarwal commented on #250
Is there an API for this?

[2017-08-06 16:12] swapagarwal opened #258 "Music: Add YouTube link"
Need to find a mapping from spotify track id to youtube id, if possible.

[2017-08-06 17:30] swapagarwal opened #259 "Movie: Add trailer link"
Refer the TMDb API documentation.

[2017-08-06 17:36] swapagarwal opened #260 "Movie: Correct Rating"
`happyness movie` returns Rating = 7.7
This rating is from TMDb: https://www.themoviedb.org/movie/1402-the-pursuit-of-happyness
IMDb rating is 8.0 (http://www.imdb.com/title/tt0454921/)

Options:
* Rename field "Average Rating" to "TMDb Rating"
* Retrieve and show IMDb rating

[2017-08-06 18:25] #209 closed

[2017-08-06 18:26] swapagarwal opened #261 "Wiki: Add images in case of Disambiguation"

[2017-08-06 21:20] swapagarwal commented on #247
I thought about the fields required in schema, and came up with the following:
input
success
output
intent
entities
user
module
timestamp
@edadesd @horrormyth What do you think?

[2017-08-06 21:22] swapagarwal commented on #247
I'm exploring 2 options:
* Integrate with a plugin in heroku (that supports Kibana)
* Integrate with AWS (something like Athena)

[2017-08-06 21:40] swapagarwal commented on #215
Based on the above discussions, the consensus is to avoid the concept of gender altogether.

[2017-08-06 21:41] #215 closed

[2017-08-07 00:26] edadesd commented on #247
If the module has quick replies, we might want to record whether a user clicked one, and which.

[2017-08-07 05:23] swapagarwal commented on #247
Also, `postback` data should be logged too.

[2017-08-07 13:29] ahmedsadman commented on #250
No, it would be web scraping

[2017-08-07 14:08] ahmedsadman commented on #260
I can work on this. There is no IMDB API available, so I want to do this: get the IMDB id from TMDB API, then use the IMDB id to construct a full IMDB website link, and scrape the Rating. Is that okay?
**And yes, can I work on this module while the WIT AI response problem still persists?** I think the AI is taught in the older version style, right?

[2017-08-07 14:48] swapagarwal commented on #250
I'd prefer to avoid that, as that is difficult to maintain. If you like, you can create an API yourself! 😄

[2017-08-07 14:52] swapagarwal commented on #260
Let's explore more options (avoid scraping). The Wit response structure update doesn't affect jarvis, for old as well as new modules. The effect is seen when you create a **new app** for testing purposes.

[2017-08-07 16:46] swapagarwal commented on #261
Sure, go ahead!

[2017-08-07 16:47] swapagarwal commented on #248
We use the MediaWiki API. Will this require a migration?

[2017-08-07 17:12] swapagarwal commented on #241
Here are the current responses: https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/hello.py#L8-L14
Feel free to modify them. 😄

[2017-08-07 19:44] ahmedsadman commented on #260
Well, do you have any other option in mind? Please let me know.
And if wit response doesn't affect new modules, how do you propose to use WIT if I want to continue working on the Soccer module? I need to create new app so that I can train it about user inputs, right? And Soccer module is new of course. Frankly speaking, I am highly confused at this stage: At one time, you're saying that new module

[2017-08-07 19:50] ahmedsadman commented on #250
I don't know how to create new API by myself, I will look into that. But, how do you avoid web scraping by creating new API, is there any other way to retrieve data from a website (that you don't own) without scraping? Can you explain?

[2017-08-07 19:53] swapagarwal commented on #260
New modules (soccer) in old app (jarvis) are not affected.
If you create new app (say jarvis-test), it will have new response structure.
While submitting a Pull Request, you only submit the module code. I'll train the new module (soccer) in old app (jarvis), so it'll have the old response structure. Hope that makes sense! 😅

[2017-08-07 19:56] swapagarwal commented on #250
So basically the API will scrape the website, and jarvis will call the API. Any changes in web layout might affect the scraping the logic, which will result in API modification. The change should not affect jarvis.

[2017-08-07 19:57] ahmedsadman commented on #260
Oh! That's what I was asking for days. When I asked for help, some people in Gitter told me that I need to create own app in WIT to make module. I never knew that you were going to train that for me.
It was the only barrier between me and soccer module, I will start on that right away!

[2017-08-07 19:59] swapagarwal commented on #260
So you can create your own app for testing purposes, till your module is integrated. Sorry for the misunderstanding! 😞

[2017-08-07 20:00] ahmedsadman commented on #250
Hmm. I don't think I am ready to create a new API. Meanwhile, I have works on the Soccer module, as well as on IMDB rating. Let's keep this in halt

[2017-08-07 20:01] swapagarwal commented on #250
Sure, no problem! 😄

[2017-08-07 20:01] ahmedsadman commented on #260
Okay, about the IMDB rating: you already know that OMDB provides api that can fetch IMDB rating, what if we use OMDB just for fetching the Rating?

[2017-08-07 20:03] swapagarwal commented on #260
OMDb API is not free anymore, hence we moved to TMDb.

[2017-08-07 20:05] ahmedsadman commented on #260
What about this: http://imdbpy.sourceforge.net/

[2017-08-08 15:53] sync350 opened #263 "Adding modules with APIs"
This is more of a question than an issue. I am looking at adding a couple of modules to JARVIS, for starters I'd like to add a stock ticker. I have the code pretty much laid out, but it relies on an API key, as most of the modules do. I see that most of the modules reference an external config file so as to not make the API key public. Is there a certain way you want the API key referenced?

[2017-08-08 18:03] horrormyth commented on #247
@swapagarwal the fields seem okay for me, how abt @edadesd

[2017-08-08 23:23] edadesd commented on #247
Yeah, they look good. I think that data can tell the story of what the user wanted the bot to do and whether they got it.

[2017-08-08 23:25] edadesd commented on #263
Here's an example of how @swapagarwal referenced a new API key: https://github.com/swapagarwal/JARVIS-on-Messenger/commit/52e0f2561e970097acb56e475e4539563069e099#diff-7717e6031799299412c6e4fec2df670fR10

[2017-08-09 06:07] edadesd commented on #260
IMDbPY looks promising. If you were to use that to get an IMDB rating, I think it would make sense to just rely on it for all of the information that the module fetches.

[2017-08-09 07:03] ahmedsadman commented on #260
Then I am starting to work on it.

_Sent from my Xiaomi MI 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-09 13:41] swapagarwal commented on #263
Adding to @edadesd, this structure has two advantages:
1. You can test locally by setting your API key in config.py
1. In production environment, the key is not hard-coded. It is picked up from an environment variable.

[2017-08-09 13:41] #263 closed

[2017-08-09 14:35] swapagarwal opened #264 "Add an api key wrapper"
This extraction https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/dictionary.py#L9 would be abstracted out to a util class.

[2017-08-09 16:09] aviral1701 commented on #261
#265

[2017-08-09 17:45] aviral1701 commented on #248
@swapagarwal I think we should keep migration as the last resort.Few conclusions:

1. The MediaWiki Api doesn't offer the See Also section of the wiki page.
2. We can use Section attribute of the page, but it doesn't work with all pages.
3. We take the **html of the page and parse it**.Then find links in "See Also" div of the page.Might make the program considerably slow.
4. We use just the wikipe

[2017-08-09 21:18] edadesd commented on #264
I've started working on this. As it stands, I instantiate the class and then call a class method passing the name of the key or the data file variable name. The method then needs to retrieve the key from the environment, or failing that, from config.

[2017-08-09 21:48] edadesd commented on #264
Another way to do it would be to take the key name as a constructor argument and have the constructor store the key as an object variable which could then be retrieved from the object.

Do you have any thoughts on which you would prefer?

[2017-08-10 02:01] agiridharan commented on #259
Can I help out here? @swapagarwal

[2017-08-10 12:09] bmroach commented on #258
Hi @swapagarwal , can I help out here?

[2017-08-10 17:52] horrormyth commented on #258
@bmroach Lets do that

[2017-08-11 04:57] agiridharan opened #267 "JARVIS does not return expected value for movies"
![jarvis error](https://user-images.githubusercontent.com/14183971/29201832-bda9512e-7e16-11e7-9acf-b797ffeb13bf.png)

Jarvis is supposed to return the title of the movie, the release date, the rating and an overview

[2017-08-11 11:29] ahmedsadman commented on #267
It returns expected movies without any problem, I just tested it using your inputs.

[2017-08-11 11:38] ahmedsadman commented on #260
Done. See #268

[2017-08-11 14:42] edadesd commented on #267
I got the correct returns from my local fork as well. I agree with @ahmedsadman that it seems like an issue with the API key.

[2017-08-14 18:31] ahmedsadman opened #270 "Switch to IMDb Py instead of TMDB"
I think everyone would prefer movie data being fetched from IMDB, instead of TMDB. And IMDb Py can do just that. I already implemented IMDB rating in #268. If that req is accepted, I can move further for a transition to IMDb Py. IMDbPy can fetch everything that IMDB has to offer.

_Sent from my Xiaomi MI 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 21:39] furkee opened #271 "Migrate to setuptools and small refactor"
Hey dude! Before anything, I wanna say congratulations on this awesome repo. It is a dream come true for many fellow coder, myself included.

I've been working on python for a while now(do not bother to check my github profile though, since I work on it on my day time job) and recently I migrated my code base to setuptools as well. It is mostly because I realized that it is quite common among pyth

[2017-08-16 15:58] swapagarwal commented on #258
@bmroach Sure, go ahead! 😄

[2017-08-16 15:58] swapagarwal commented on #259
@agiridharan Sure, go ahead! 😄

[2017-08-16 15:59] swapagarwal commented on #267
Looking into it.

[2017-08-16 16:11] swapagarwal commented on #267
Fixed. There was a syncing issue between code on github and that on server. 😅

[2017-08-16 16:11] #267 closed

[2017-08-17 05:22] #260 closed

[2017-08-17 05:41] swapagarwal commented on #248
Let's avoid parsing. We can add both random and see also pages.

[2017-08-17 21:25] edadesd commented on #270
Sounds good. It would be better to get everything from a single source than from two.

[2017-08-17 23:41] azie-ginanjar opened #273 "Add real time commodity prices"
Hi There,

Does anyone think that add commodity prices would be interesting? I plan to get the data from https://www.cnbc.com/commodities/.

For example, a query would be:

User: commodity OIL
JARVIS: OIL – $46.96

What do you think?

[2017-08-18 09:45] swapagarwal commented on #273
Open to community..

[2017-08-18 10:05] swapagarwal commented on #243
@abhihacker02 As can be seen in the screenshot above, querying for `time at paris` will give you what you're asking for. Feel free to re-open if you'd like to extend it. 😄

[2017-08-18 10:05] #243 closed

[2017-08-18 10:54] edadesd commented on #273
I would make sure to include the commodity's unit for context and maybe even also the price change and percentage change.

Is there an API to provide that data? Or did you perhaps plan on scraping it from that page?

[2017-08-18 11:57] azie-ginanjar commented on #273
@edadesd actually I am still comparing between https://www.quandl.com/tools/api and https://api.commoprices.com/, but for the worst case I plan to scrap the data from https://www.cnbc.com/commodities/

[2017-08-19 17:32] swapagarwal opened #274 "Add ability to mock intent, to ease testing"

[2017-08-19 17:36] swapagarwal opened #275 "Move spotify token to a folder"
This folder can contain more tokens like this, if required.

[2017-08-19 23:07] azie-ginanjar commented on #275
@swapagarwal can I take on this one?

[2017-08-20 05:59] azie-ginanjar commented on #275
@swapagarwal I've tried query = "songs by linkin park" but always got confidence below 0.5, so I always got response {"text": "I'm sorry; I'm not sure I understand what you're trying to say.\nTry typing \"help\" or \"request\""}

[2017-08-20 07:53] swapagarwal commented on #275
I've opened an issue for easier testing. That should solve this problem! 😄

[2017-08-20 08:03] #275 closed

[2017-08-21 12:22] azie-ginanjar commented on #258
has anyone work on this issue?

[2017-08-22 06:31] #274 closed

[2017-08-22 06:59] azie-ginanjar commented on #273
@swapagarwal could I continue on this feature? I think I would using quandl to provide the data because its have python module so it's easier to use.

[2017-08-25 22:56] edadesd commented on #247
Is it possible to make the logger write directly to a database? Or would we need to process the log into a database using a separate module?

[2017-08-28 18:39] jwetzell commented on #259
I believe I have done this if no progress has been made.

[2017-08-29 16:40] finleylau opened #279 "Module for food/restaurants"
Hey @swapagarwal, what do you think of a module to find nearby restaurants/food options?

[2017-08-29 21:40] #279 closed

[2017-09-01 16:37] horrormyth commented on #247
Sorry for the late comeback :P @edadesd  yes we can set the logger in such a way that it can write straight to the database.However, have we decided yet what are we using for the DB or any other options? I would like to get hands dirty on it as long as we are concrete on the arch.

[2017-09-07 18:34] bendangnuksung opened #281 "Add Random Reddit post"
A new module to get a random reddit post from Reddit api. (Just the heading of the post)

[2017-09-07 21:13] #281 closed

[2017-09-08 17:30] horrormyth commented on #273
@azie-ginanjar Let's do this :)

[2017-09-08 17:40] shawnjzlee opened #282 "Add cryptocurrency prices using bittrex api"
Hi There,

First timer here! I'd like to add a functionality that would fetch cryptocurrency ticker prices from the public bittrex api.

e.g. `ticker BTC-LTC` or `market BTC-LTC` would return the real-time tick values for a market.

Could this be in conflict with the existing currency feature? I'm all ears for suggestions!

[2017-09-08 19:49] edadesd commented on #282
If you could think of a query that unambiguously calls the cryptocurrency module (like "BTC-LTC cryptocurrency") that would make it easier to direct the query to the appropriate module.

[2017-09-08 20:30] shawnjzlee commented on #282
`cryptocurrency`, `crypto`, `ticker`, `market` should call the cryptocurrency module unambiguously (e.g. `cryptocurrency BTC to LTC`, `get ticker for LTC to BTC`)

If I enter the symbols BTC and LTC into the fixer api, the "rates" returns empty. Would it be better to call the bittrex api if the above condition is satisfied?

[2017-09-09 00:24] edadesd commented on #282
I think it would be ideal to only call one API per user query. Since you know Fixer won't give you a value for Rates, I would try to make that query rely entirely on Bittrex without calling Fixer. So you would have to implement some logic to decide which API to call based on the user's query.

[2017-09-19 17:53] luxorv commented on #264
Is this still an issue? I would like to work on this.

[2017-09-19 17:55] edadesd commented on #264
PR #266 is currently opened to address it. You could comment on that, or even open up your own PR if you want to implement it in a different way.

[2017-09-20 13:57] luxorv commented on #264
@edadesd seems like #266 solves the issue, I don't think more action is needed but to fix the test not passing in the code. Thanks for the quick response :)

[2017-09-25 06:18] isbee opened #286 "Sample query 'roll a die' doesn't working on the local testing"
I do not know if there is a typo in the document or if the implementation is not working properly, but the query does not work with 'roll a die' but with 'roll a dice'.

![image](https://user-images.githubusercontent.com/24961200/30794571-eda6622a-a203-11e7-8014-fe6be045789b.png)

My working environment is  ubuntu 16.04 LTS and I am testing only sample queries without any code modification.

![ima

[2017-09-26 14:16] djung460 commented on #286
Are you going to make a PR to update the README?

[2017-09-27 01:54] isbee commented on #286
@djung460  sure! I'm not familiar with it because I'm new on open source project. I'll pull request soon.

[2017-09-27 13:43] djung460 commented on #286
Typically you keep an issue opened until the solution/feature PR has actually been approved and merged. @isbee

[2017-09-28 02:55] isbee commented on #286
@djung460  I was a fool. learned a lot from you

[2017-09-28 16:46] djung460 commented on #286
lol don't be hard on yourself

[2017-09-28 21:43] maferland commented on #258
What is the goal exactly here ? Feed a spotify track id and find the matching youtube id ?

[2017-09-29 16:23] aviral1701 commented on #270
@ahmedsadman Are you still working on this?

[2017-10-01 18:18] swapagarwal opened #290 "Hacktoberfest"
- [x] Publish an Introductory Post
- [x] Create a new label
- [x] Assign #hacktoberfest label to issues

[2017-10-01 18:18] swapagarwal commented on #290
https://medium.com/jarvis-on-messenger/hacktoberfest-cff4d01f4a6

[2017-10-02 05:57] ahmedsadman commented on #270
@aviral1701 I am willing to, but the main developer hasn't given any consent. It's tagged as Suggestion

_Sent from my Xiaomi MI 5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-10-02 09:52] darshkpatel commented on #290
any issues for hacktoberfest ?
cannot find any tags :/

[2017-10-02 10:14] swapagarwal opened #291 "Add docker support"

[2017-10-02 10:15] swapagarwal commented on #290
https://github.com/swapagarwal/JARVIS-on-Messenger/labels/Hacktoberfest

[2017-10-02 10:27] TheSmokingGnu commented on #291
@swapagarwal I would like to have a go at implementing this.

Was thinking of using a the python:2-alpine image https://github.com/docker-library/python/blob/b1512ead24c6b111506a8d4229134a29da240597/2.7/alpine3.6/Dockerfile

[2017-10-02 10:40] swapagarwal commented on #291
@TheSmokingGnu Sure, go ahead!
By the way, what are the differences between alpine, jessie, stretch, and wheezy?

[2017-10-02 10:47] TheSmokingGnu commented on #291
They are just different operating systems to base the build on i.e. Jessie is a version of Debian.  Alpine is the smallest so I normally use that.  It basically only has the bare minimum (<5Mb).

The only downsides are if you are used to logging directly into the containers there are no utilities (no even vi!) but I'm guessing what you want is to just run the program.  I'm using the readme instruc

[2017-10-03 09:03] aviral1701 commented on #259
@swapagarwal Can I make a PR to close this one quickly?

[2017-10-03 10:58] aviral1701 commented on #248
#292

[2017-10-03 11:01] aviral1701 opened #293 "Add a issue and PR template."
I think we should have a Issue and Pull Request template as sometimes there is a lot of ambiguity in what the creator wants to say,if he wants to work on it,if its bug or a feature request etc.

[2017-10-03 16:59] swapagarwal opened #294 "Add "Persistent Menu" json to version control"
https://developers.facebook.com/docs/messenger-platform/reference/messenger-profile-api/
https://graph.facebook.com/v2.6/me/messenger_profile?access_token=<PAGE_ACCESS_TOKEN>

[2017-10-03 17:09] #294 closed

[2017-10-04 06:48] TheSmokingGnu commented on #291
Not sure if this is just an issue on my setup or not but I need to do

[code]
After the steps given in the readme

Do you know if I've set this up incorrectly or there is something wrong somewhere else?  Should this be in the requirements.txt?

[2017-10-04 12:07] edadesd commented on #270
I say go for it. @swapagarwal gave you a thumbs up in the first post, which I think is a green light to go ahead and code it.

[2017-10-04 18:18] swapagarwal opened #296 "Log input query to help in debugging"

[2017-10-04 18:19] swapagarwal commented on #296
It's always best to have a configurable debug mode.

[2017-10-04 19:11] swapagarwal opened #297 "video link in persistent menu not working"
In the persistent menu, go to "Common Queries", "Media", and click on "videos of sia".
It returns an error.
Investigate why this is not working.

[2017-10-04 23:02] oddurad commented on #297
I'd like to take a look at this

[2017-10-05 12:05] oddurad commented on #297
I've also opened an issue on the YouTube API Issue Tracker here: https://issuetracker.google.com/issues/67448436

[2017-10-07 15:16] ahmedsadman commented on #270
Sounds great. But I need some good amount of time for academics purpose. I think I can start at the end of this month

[2017-10-07 16:12] RaInta commented on #126
Hey, I'd like to work on this.
However, because input parsing is handled by wit.ai, this side is opaque to the repo, so it seems we no longer can map arbitrary inputs (such as the list suggested by @netanel246 ) to the required outputs. Am I understanding this right?

In other words, as with most natural language, such general questions don't fit into the `module argument` syntax. Can you suggest

[2017-10-08 16:30] swapagarwal commented on #297
@oddurad Really appreciate you going the extra mile here by opening a detailed issue above! 💯

[2017-10-08 16:32] #297 closed

[2017-10-10 11:57] BeaData opened #301 "Italian Translation"
Hi there, I think it would be nice and beneficial to have at least a translation of the main docs into other languages - I can offer to translate them into Italian.
At least to give International readers an idea of how to implement JARVIS, what it can do, etc.
Let me know if that's ok and I will fork and start working on it ASAP. :)
Thanks.

[2017-10-15 14:52] Astrophilic opened #303 "Roll a die doesn't work"
![issue](https://user-images.githubusercontent.com/25284819/31585856-724902a2-b1e6-11e7-97e4-3674b5a49828.JPG)
@swapagarwal  I have just started working with open source . I opened the link and found this bug as there is no output for the required query!!! How do i fix this??

[2017-10-16 14:01] swapagarwal commented on #303
Hey @Astrophilic, nice catch and welcome to the world of open-source! 😄
The intent handling is done by Wit. See wit.ai for more information.
For fixing this, you can add the query in https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/local/wit.json
Feel free to ask any questions you may encounter along the way! 😄

[2017-10-17 04:46] swapagarwal opened #304 "Integrate with coala"

[2017-10-17 14:14] Astrophilic commented on #303
@swapagarwal ,If you can help me by giving an example of a query and regarding the local testing, i tried installing all the required modules using pip and then when i tried running the file
![error](https://user-images.githubusercontent.com/25284819/31669538-0116236a-b373-11e7-8f10-9bce76ffd9b3.JPG)
I get this error.
I tried fixing this by
adding this to
**import sys
sys.path.append('../src')**
t

[2017-10-17 14:34] swapagarwal commented on #303
I think you're running on Python 3. Jarvis runs on Python 2! :smile:

[2017-10-17 16:46] swapagarwal commented on #247
https://github.com/swapagarwal/JARVIS-on-Messenger/milestone/2

[2017-10-17 17:24] Astrophilic commented on #303
which version exactly?? I installed python 2.7 and it gave some error again!!

[2017-10-17 17:50] swapagarwal opened #305 "Decide logging schema"

[2017-10-17 17:51] swapagarwal opened #306 "Setup infrastructure for logging"

[2017-10-17 17:53] swapagarwal opened #307 "Log PoC data"
e.g. log module name for proof of concept, and run it end-to-end to generate module usage analytics

[2017-10-17 17:53] swapagarwal opened #308 "Log relevant data"

[2017-10-17 17:54] swapagarwal opened #309 "Make logging scalable"
e.g. rotate log files hourly

[2017-10-17 17:55] swapagarwal opened #310 "Push logs to s3"

[2017-10-17 17:56] swapagarwal opened #311 "Push logs to elastic-search"

[2017-10-17 17:56] swapagarwal opened #312 "Setup visualization dashboard"
Use kibana?

[2017-10-17 17:59] swapagarwal commented on #303
In your terminal, type `python` and press `Enter`. Paste the screenshot here.

[2017-10-17 18:11] swapagarwal commented on #301
Hey @BeaData, that's a great suggestion! Feel free to go ahead. 😄

[2017-10-17 18:18] swapagarwal commented on #293
Hey @aviral1701, I totally agree that this would standardize things here. Would you like to take it up? 😄

[2017-10-17 18:44] Astrophilic commented on #303
![sw](https://user-images.githubusercontent.com/25284819/31682531-fa967722-b397-11e7-91fd-4cf0348f653b.JPG)
Actually i had initially python3.6 installed .
Then i installed python2.7 and added it to the path but with a different name then
since pip doesn't come pre installed with 2.7 .
I installed it after following a google search.
since my scripts folder for python 3.6 are in the path so i could

[2017-10-17 19:08] swapagarwal commented on #303
Can you try removing `IMDbPY` in `requirements.txt` and run `pip install...`?

[2017-10-17 19:35] Astrophilic commented on #303
yeah It worked :relieved: I removed the module and then i had to modify __init__.py and again remove movies.py and then it works like this!
![ache](https://user-images.githubusercontent.com/25284819/31685389-6961beca-b3a0-11e7-9fac-405bc7cf2710.JPG)

[2017-10-17 19:59] Astrophilic commented on #303
Thanks a bunch  :simple_smile:  You talked of wit.ai I watched a video on youtube and then i could understand what exactly it is!!! Now that I shall try to make that roll a die thing work!!!
how should i proceed???

[2017-10-17 20:09] ke2ulpatani commented on #310
Hi,
Can I work on this?
Could you please provide some reference?

[2017-10-17 20:36] swapagarwal commented on #303
Awesome @Astrophilic! Would you like to create a PR adding that video to README?
You can override the query result here: https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/local/wit.json

[2017-10-17 20:37] swapagarwal commented on #310
This has a dependency on generating logs first! See https://github.com/swapagarwal/JARVIS-on-Messenger/issues/247 for more context. 😄

[2017-10-17 20:44] swapagarwal opened #313 "Design a logo"
Suggested by @jervlapsley in #195

[2017-10-17 20:45] swapagarwal commented on #195
Closing in favor of #313

[2017-10-17 20:45] #195 closed

[2017-10-17 20:59] kostimarko commented on #313
Hi, I can design a logo for you.

[2017-10-17 23:21] altruisticnarcissist commented on #313
@kalbhor Are you still working on this?

[2017-10-18 04:25] swapagarwal opened #315 "Ignore *.sqlite files"

[2017-10-18 04:29] luisvillalba commented on #315
I can do this, can I take it?

[2017-10-18 04:31] swapagarwal commented on #315
@luisvillalba Sure, go ahead! 😄

[2017-10-18 04:34] #177 closed

[2017-10-18 04:45] #315 closed

[2017-10-18 05:55] TanmayJr commented on #313
Can I work on this?

[2017-10-18 12:43] Astrophilic commented on #303
I added the video link to the file CONTRIBUTING.md. I had another video which is a demo of the ai as in how it works!!!
I tried embedding it to the readme but I could not generate the thumbnail for
 this is the [video](https://vimeo.com/238717639) which i think would be apt to put in the readme.
But I am not able to generate a thumbnail like [this](https://i.vimeocdn.com/video/645512677_640.jpg).

[2017-10-18 13:08] Astrophilic commented on #303
well, I have added some more changes!!! and I could embed the image!! finally!!

[2017-10-18 16:51] aviral1701 commented on #293
Sure! Just give me a couple of days.
Happy Diwali mate!

[2017-10-19 02:17] enriqueav commented on #115
Hi. Seems like this was not implemented. I would like to develop this module if that's OK.

[2017-10-19 03:48] enriqueav commented on #303
Roll a dice works if you clone and run the project:

![captura de pantalla 2017-10-18 a las 22 45 21](https://user-images.githubusercontent.com/13837490/31753441-2cf1aad4-b456-11e7-8b01-f2bba59eefa5.png)

Perhaps the query is only missing in the .json that the production instance is reading.

[2017-10-19 16:31] OmerAhmedKhan commented on #311
Which Logs? Flask logs?

[2017-10-19 16:45] OmerAhmedKhan commented on #309
Looking...

[2017-10-19 17:31] OmerAhmedKhan commented on #307
Looking...

[2017-10-19 18:02] OmerAhmedKhan commented on #307
Is it ok?
https://github.com/swapagarwal/JARVIS-on-Messenger/pull/321

[2017-10-19 18:03] swapagarwal commented on #293
Great! A very happy diwali to you too! 😄

[2017-10-19 18:23] OmerAhmedKhan commented on #308
Can you provide more information please?

[2017-10-19 18:24] OmerAhmedKhan commented on #306
Done #320

[2017-10-19 18:24] OmerAhmedKhan commented on #305
Done #320

[2017-10-19 19:51] AadityaNair commented on #304
I would like to take this issue up. :-)
If I understand correctly, you want to automatically lint the code using coala. I think adding a `.coafile` would be just fine.

[2017-10-20 16:12] AadityaNair commented on #304
Damn. Coala only works with python 3.4 or greater. I think you should hold this off until you move JARVIS to python3

[2017-10-21 05:04] swapagarwal commented on #304
@AadityaNair IIRC, coala runs on python 3 but can lint python 2 code too.

[2017-10-21 13:58] Astrophilic commented on #303
@enriqueav can you please elaborate how do i add a query and which json file should be modified ?? so that I could generate the same output!!!

[2017-10-21 14:12] enriqueav commented on #303
@Astrophilic  It works if you clone the project and follow the steps to run and test your local instance.
It is just not working for the hosted version, the one you talk to in messenger.

Anyway, FYI, the query goes here:
https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/local/wit.json
You need something similar to the "songs by linkin park" query, if you need entities (arguments), or

[2017-10-21 14:43] Astrophilic commented on #303
![uplo](https://user-images.githubusercontent.com/25284819/31852806-13ed39fc-b69c-11e7-8172-9c1a2b0f8bc0.JPG)
It runs on my local machine but it doesn't give the output which in your case gives!!!

[2017-10-21 14:50] enriqueav commented on #303
You may have a typo. Try "dice" instead of "die"

[2017-10-21 14:57] Astrophilic commented on #303
Thanks @enriqueav  It works!! now!!! 😆 .

[2017-10-21 17:19] AadityaNair commented on #304
I checked back and you are right. Although, it seems odd to me that the entire codebase is in python2 while one component runs on python3

[2017-10-22 11:25] edadesd commented on #303
If the Wit.AI only treats "dice" as the correct intent and not "die" then we probably need to update the suggestion shown in the screenshot at the top of the thread.

[2017-10-22 23:56] valinsky commented on #282
I was just thinking to add this. Are you working on the feature?

[2017-10-23 18:43] shawnjzlee commented on #282
Yep! Feel free to take a look at #283 and make changes as you see fit if you'd like to work on it (:

[2017-10-24 13:59] umangahuja1 opened #327 "Quote of the day"
I saw that quote feature provide quotes from one of the few listed.
How about using this to provide quote of the day by web scraping?

[2017-10-25 04:19] akash612 commented on #258
Hello @swapagarwal , can I take this one ?

[2017-10-25 07:25] darthgera123 commented on #259
is this issue still open?

[2017-10-26 23:57] bigyankarki opened #330 "Roll a die not working"
Jarvis does not reply when messaging "roll a die".

[2017-10-28 20:38] kz3838 commented on #330
I looked through the code, does it need to specify what kind of die? Or did I miss something? (This is my first time with this kind of thing so sorry if it's wrong)

[2017-11-03 15:23] raghavgr commented on #312
Hi, I would like to work on this issue. What files should I look into to get started with?

[2017-11-04 23:16] #290 closed

[2017-11-08 05:54] dkansk1323 opened #334 "Calculator"
how about add simple calculator on JARVIS ?

[2017-11-08 06:14] utkarshdeep commented on #334
Great idea. I can help with that.

[2017-11-09 09:34] utkarshdeep commented on #327
If it's just randomly selecting quotes from a bag of quotes, then I agree it needs improvement. I have quite a good experience with scrapy, I think I can work on this. Do you know any publically available API to get quotes?

[2017-11-10 07:10] thilak007 commented on #258
Hi @swapagarwal , is this still open?

[2017-11-11 10:27] KonstantinBork commented on #327
Hey, I found two APIs for quotes: https://quotesondesign.com/api-v4-0/ & http://forismatic.com/en/api

[2017-11-11 10:39] H3ADLESS opened #336 "Twitter integration"
Hey guys,

we  (a friend of mine and me) would like to integrate the possibility to ask Jarvis for recent tweets on Twitter, using the [Twitter API](https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets). Simply ask Jarvis something like: "What's up on twitter?" and get some popular tweets back.

What do you guys think about this idea? Is there anything against for us

[2017-11-11 12:26] utkarshdeep commented on #336
I think its a good idea. But I think some different variant of the question: "What's up on twitter?", should also trigger Twitter API. Like "What's trending today?" etc.

[2017-11-11 12:28] utkarshdeep commented on #327
This is great. We can pick one of them or both, and start the work. I can take up this task.

[2017-11-12 16:40] #259 closed

[2017-11-12 16:44] swapagarwal commented on #270
@ahmedsadman Sure, go ahead! Let us know if you're working on this; or would like someone else to pick it up. 😄

[2017-11-12 17:48] #303 closed

[2017-11-12 17:51] swapagarwal commented on #303
Hey @enriqueav. To clarify, the production instance does not have a long list of json entries. It is driven by natural-language processing. We train the AI using some sample inputs for a module, and then it tries to classify a new input from the user into one of the modules. 😄
@edadesd It works now. 😇

[2017-11-12 17:53] swapagarwal commented on #286
Hey @isbee, thanks for reporting this issue. It has now been fixed! 😄

[2017-11-12 17:53] #286 closed

[2017-11-12 17:53] swapagarwal commented on #330
Hey @bigyankarki, thanks for reporting this issue. It has now been fixed! 😄

[2017-11-12 17:53] #330 closed

[2017-11-12 19:20] KonstantinBork commented on #327
If you need any help, I'll be available.

[2017-11-12 20:33] H3ADLESS commented on #336
Sure. The question was just an example. So we will start working on this. Thanks for your reply.

[2017-11-13 15:41] utkarshdeep commented on #327
@KonstantinBork I was thinking of introducing a class that will help us to call above API's, and more in future, which will basically have attributes to set request method type, query param, headers (if any) etc. And then randomly selecting the available API resources and calling it using the above class. Sounds good? Or if you have anything better please let me know.

[2017-11-13 15:42] utkarshdeep commented on #336
@H3ADLESS If you need any help, I'll be available.

[2017-11-13 18:12] KonstantinBork commented on #327
This should be the way to go. I think there already exists a util folder where you can put the class into.

[2017-11-14 17:48] swapagarwal opened #337 "Generalize location entities"
As pointed out in #165, we use `weather_location` and `time_location` in modules, but they hold similar type of data. We can combine them to a single entity `location`.

[2017-11-14 18:06] #165 closed

[2017-11-14 18:10] swapagarwal opened #338 "Time: MapQuest -> Google Maps"
Move from MapQuest API in time module to Google Maps API.
Reference PR: https://github.com/swapagarwal/JARVIS-on-Messenger/pull/319

[2017-11-14 19:09] utkarshdeep commented on #327
@KonstantinBork I was also thinking, rather than being completely dependent on random selection, we should incorporate a system that checks for repetition of quotes based on what was generated previously. But to implement this we then also have to consider the various active chat session, which will make the system bit complicated.

[2017-11-15 17:45] swapagarwal opened #339 "Move from hello to bye"
https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/hello.py#L10

^ This does not seem an appropriate response for `hello`. Let's move it to `bye`.

[2017-11-15 17:51] swapagarwal opened #340 "Url: Enhance response"
* Add captured url
* Add buttons

[2017-11-15 18:35] ghdud4006 opened #341 "how about add a love expression module on Jarvis?"
ex)
user :  i love you
jarvis : "I love you too, sir"

user : i like you
jarvis : "I truly love you more than I have ever loved anyone"

user : do you love me?
jarvis : "I love you to moon and back."

[2017-11-16 06:21] kartikeya100 commented on #150
I would love to work on this module if this isn't yet completed or someone is not working on this.

[2017-11-16 10:16] dkansk1323 commented on #339
I can do that.

[2017-11-16 10:40] ab9-er commented on #150
@swapagarwal @anilkunchalaece What I suggest is to parse the publicly available google calendar using a library like `icalendar` and then parse the events. Something like this,

[code]

[2017-11-16 15:20] ab9-er commented on #31
@swapagarwal What is this issue's status?

[2017-11-17 02:19] isbee commented on #338
doesn't need   timeZoneDB -> Google Maps Time Zone ?

i'll try that if you want and ofc i'll solve this issue too.

[2017-11-18 05:36] orbit-stabilizer commented on #339
I ended up doing this, as it seems like dkansk1323 has not completed it yet - I hope that's okay.

945bf558eb6feab58bb981988dcc1c578125f5df
e0744454e61eb4dcc1172bf64c2f5083dc60f29f

[2017-11-18 17:43] gibertoni commented on #337
Hi, I am new to the project but since this is a low hanging fruit, I may work on this.
Is it ok for you?

[2017-11-19 12:37] gibertoni opened #349 "Jarvis is returning current time as Jan 1st 1970 00 hours"
**Description:**
So far the time module has been working fine for me, except for Brazil.
Whenever I ask the time in Brazil or a city within Brazil, it returns the default January 1st.

**Steps to reproduce**
1) Ask Jarvis "Time in Brazil"
2) Observe the answer:

[2017-11-19 20:29] Jakod96 commented on #258
After looking around there doesn't seem to be foolproof method to do it as a 1-1 mapping of the ID to the youtube link, but querrying the youtube API for "ARTIST - SONGNAME" gives very good results.

[2017-11-20 14:18] KonstantinBork commented on #327
You should keep it as simple as possible at first. Implement a first working draft and when this is merged with the main code, you can think about improving the system. Just my two cents.

[2017-11-21 00:56] orbit-stabilizer commented on #31
Also would like to know

[2017-11-21 04:15] maulikjs commented on #273
I have some experience with this I would love to work on this.

[2017-11-21 04:21] maulikjs opened #350 "Stock prices."
I want to work on getting stock prices from AlphaVantage API.
Is anyone else working on it?

[2017-11-21 07:46] dkansk1323 commented on #339
It's already done sorry for late comment
[https://github.com/swapagarwal/JARVIS-on-Messenger/pull/342/commits/f65a041b9579957a1435e3914d9933d3bcd3a2e6](url)

[2017-11-21 07:51] dkansk1323 commented on #339
It's already done... sorry for late comment.
#342

[2017-11-23 07:04] isbee commented on #349
How can test time module correctly in local? I applied #319 and registered google api key and timezoneDB key(my own) but i can't receive responses like yours.

My problem is getting location data works fine but getting time data does not.
Seems like some exception is triggered while getting time data(_any codes below request.get() are being skipped_)

Also I'm curios about how the current query wo

[2017-11-25 18:41] umangahuja1 commented on #327
How about scraping quote of the day from https://www.brainyquote.com/quote_of_the_day?

[2017-11-27 20:29] utkarshdeep opened #359 "Add NLP based implementation"
Most part of the chatbot is rule-based. I was thinking of migrating slowly it to NLP based.

[2017-11-27 23:48] gibertoni commented on #349
Hi @isbee, I did not have trouble with the current requests for time.
Try to debug again and see what exception is actually being thrown.
It may be just an http error response from timezonedb, which may indicate exactly what is wrong with your key or request.

[2017-11-28 06:57] isbee commented on #349
thank you @gibertoni  :)

I solved the problem. as you said my request had been wrong. now query works fine.

[2017-11-28 08:37] scissorsneedfoodtoo commented on #340
Hi there. I'd like to take a shot at this issue. Do you have any suggestions for buttons, though? Maybe one for going to the shortened or expanded URL so visiting it is more mobile friendly. However, I can't think of another good button to add.

[2017-12-04 15:58] nmshaikh commented on #350
I had the same idea as you but if you've already started working on it, I'll try to think of something else :) Would love to see what you implement and add to it if I can

[2017-12-05 06:40] nmshaikh commented on #350
@maulikjs Yes I'd love that! This is actually my first ever time contributing to open-source so I could use some guidance.

I actually had an idea to add a module for random recipes. So you can ask JARVIS for something like 'a chicken recipe' or 'a good recipe for breakfast' and you get appropriate responses. If I understand correctly, I should start a new issue and state my idea there, right?

[2017-12-05 06:49] maulikjs commented on #350
@nmshaikh haha stocks was my 2nd too. this is a great project to start with. Do you have any thoughts on how youll go about doing this?

[2017-12-05 11:15] nmshaikh commented on #350
@maulikjs I'm guessing it can implemented like the [news](https://github.com/swapagarwal/JARVIS-on-Messenger/commit/59beb1ca0a0f5210ebf44809282d0cc7d3d42874) module. @swapagarwal has provided a wonderful list of APIs we could use at this [link](https://github.com/toddmotto/public-apis).

So on the wit side, the processor would need to detect whether the user just asked for a random recipe, or whet

[2017-12-05 14:14] ahmedsadman commented on #270
Sorry for the late reply. I was busy with academics. I think it would be better if someone else picks up the work

[2017-12-13 15:18] bbaugnies opened #362 "Improve dice mopdule for RPG dice"
Hello,

First time contributor, I'd like to improve the dice module to add to be able to roll multiple dice of different sizes.
The common syntax for this type of thing is "roll XdY" where X is the amount to roll, and Y the size.

I'd need to get entities for this, but I'm not sure how they work. Should I expect to get the whole "XdY" part as a 'value', or can Wit send the as, e.g. 'size': Y, 'amo

[2017-12-13 18:17] nmshaikh opened #363 "Export wit data to facilitate fork testing"
Hi @swapagarwal, I was wondering if you could export and share your wit data. I'm assuming you made the app public. I think this would greatly facility testing for new and improved modules since contributors could make their own wit apps that build upon the one you already have. This would allow them to test the new modules that they want to implement directly on their own apps before submitting a

[2017-12-14 14:53] vinnusingla commented on #340
I would also like to try it but I am not sure that I understand what you are saying. Do you mean to create a UI for the queries we are making with URL by adding buttons and input fields?

[2017-12-19 09:27] cyrokamogawa opened #364 ""Is there anything else?" handles improperly"
When JARVIS asks: "Is there anything else?"
I enter "yes," but JARVIS does not understand what I mean.
I think I can resolve this issue.

[2017-12-19 09:56] cyrokamogawa opened #365 "Weather module doesn't work for some cities"
When I asked Jarvis:
"weather san diego" or "weather sacramento,"
it said: "I couldn't get the weather info you asked for."

I'll start working on this when I get some time.

[2017-12-19 09:57] cyrokamogawa commented on #365
It does work when I ask:
"what's the weather in san diego?"

[2017-12-19 17:37] cyrokamogawa opened #366 "Handling multiple module inputs"
JARVIS doesn't really handle properly when I enter multiple modules. For example:
movie book of eli
define book
It should be able to find the movie "Book of Eli" and define "book." But it's getting confused because those contain keywords.

[2017-12-21 12:53] xchintan commented on #261
Is this issue still unresolved?

[2017-12-21 14:12] Mohit17067 opened #368 "Replace 'songs by singer' with 'singer songs' in help.py"
When we type `help`, Jarvis shows that it can proceed with 'songs by \<singer\>' ( `songs by linkin park` ). But instead, it should show '\<singer\> songs' ( `linkin park songs` ) because I think `music.py` is implemented like this. Changing `help.py` may do the work. Shall I proceed?

[2018-01-07 07:49] manparvesh commented on #216
@swapagarwal might wanna try this out: https://github.com/prontolabs/pronto

[2018-01-07 08:23] manparvesh opened #370 "Add test coverage"
By adding a few lines, we can get the coverage of the tests written. I suggest using `codecov`.

[2018-01-07 17:17] #293 closed

[2018-01-08 17:34] skakim commented on #368
I agree, "songs by \<singer\>" doesn't work at all. Moreover, for me, "\<singer\> songs" don't work for all bands. The following worked:
- `linkin park songs`
- `metallica songs`
- `sepultura songs`
- `nightwish songs`
- `pink floyd songs`
- `red hot chili peppers songs`
- `coldplay songs`

The following didn't work (and I didn't receive any response) (maybe **newer bands/singers**?):
- `avicii so

[2018-01-08 17:43] skakim opened #374 "Add Fortune Cookie Quotes and Lucky Numbers"
What about creating a module that gives a Fortune Cookie?

The query would be `open fortune cookie`, the answer would be a Fortune Cookie Quote and 6 Lucky Numbers, for example:

`You cannot love life until you live the life you love.`
`46-56-70-09-36-96`

Maybe a image of a Fortune Cookie above?

A good inspiration/source could be [this website for quotes](http://www.fortunecookiemessage.com/arch

[2018-01-08 17:50] skakim commented on #334
#361 is working on this.

[2018-01-08 22:04] skakim commented on #341
#355 is a PR related to this.

[2018-01-09 08:30] Mohit17067 commented on #368
That must be because the API does not have those singers on their list.

[2018-01-11 08:34] JindalMohit opened #375 "Movie module not working due to change in IMDbPY"
## What are the steps to reproduce this issue?
1. Type `<something> movie` and it will always show an error.

## Cause :
The IMDbPY library has broken due to some changes in the imdb website. See here
[https://stackoverflow.com/a/47955420/7689743](https://stackoverflow.com/a/47955420/7689743)

There is no `rating` key anymore and that cause and error on [this](https://github.com/swapagarwal/JARVIS

[2018-01-17 09:59] animeshdutta888 opened #377 "Reminder"
**Note:** Thanks for reporting an issue! Please make sure you click the link above to view the guidelines, then fill out the blanks below.
There are two templates. You can choose which one to use and delete the other one. Also, please remove the text in the brackets before you submit an issue

--

## What versions of software are you using?
Linux

# For feature suggestion
## Feature description:
A

[2018-01-17 21:24] tristanwalk commented on #377
I would like to attempt this issue!

[2018-01-17 21:25] tristanwalk commented on #374
I would like to attempt this issue!

[2018-01-17 22:10] animeshdutta888 commented on #377
I already started working on it. :/

[2018-01-18 04:03] bretbailey1120 opened #378 "Multi sided die"
## Feature description:
It would be nice to be able to roll a die with more or less then 6 sides. Such as "roll a 21 sided die"

## Any ideas on how to implement it?
There would need to be an input of the number (n) of sided die that you wanted to roll. Then the random generator could choose from 1 to the number (n). Default could be a 6 sided die. Would need to be able to have images for all the

[2018-01-18 23:35] callafeucht commented on #340
I'm working on this now -- I think I understand what you're going for.

The response should return both the original URL and the result URL (shortened or expanded).

There should be some button-type responses related to the URL function. This I'm a little hazy on, because.. well, what quick response would you have? That said, I'm working on the response portion of this issue.

[2018-01-22 14:29] harsha444 commented on #312
Hey, Is this still open? If yes, may I know how to start this?

[2018-01-25 16:49] snehith57624 commented on #334
hi bro, can i try this

[2018-01-25 17:13] Laxmikanth007 commented on #378
Hi bro, I'd like to work on this.

[2018-01-27 20:44] konseptgrokker opened #379 "Add crypto-currency conversion rates"
## Feature description:
It would be nice to implement support for getting conversion rates of crypto-currencies and other currently unsupported currencies using Jarvis :)
Currently there's only about 30 currencies supported.
Do you think it's a good idea?

## Any ideas on how to implement it?
[Cryptonator](https://www.cryptonator.com/api) has an API that can convert most fiat and crypto-currencies

[2018-01-28 17:50] konseptgrokker commented on #379
I found another API called [CryptoCompare](https://www.cryptocompare.com/) that has all the currencies supported by the current API. So as a result one could instead just use the CryptoCompare API altogether.

They use a [CC BY-NC 3.0 license](https://creativecommons.org/licenses/by-nc/3.0/) though, and I don't know if the non-commercial part is a problem. I mean, messenger has ads, so would that

[2018-01-29 04:47] adrianyi opened #380 "Add language translation module"
## Feature description:
Translate a phrase from one language to another.
Wit.ai already has entity called "phrase_to_translate", which does good job of picking phrases up.  I already tried a simple version of this on my own, and it seems to work well.

## Any ideas on how to implement it?
Google provides Google translate [API](https://cloud.google.com/translate/docs/apis), using the same key as Go

[2018-02-04 09:28] cysys commented on #339
Is this bug fixed or is it still available to be worked on ? I am a beginner hoping to contribute.

[2018-02-11 03:23] DanielDo98 commented on #337
Is this still open? If so, could I take a crack at it?

[2018-02-12 15:47] albiony opened #382 "Recognition of greetings"
The greetings JARVIS gives themselves ([here](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/hello.py#L8-L14)) are fine but I found a simple 'Hi!' throws an error message.
I had this issue with most greetings apart from a simple 'Hello' and 'Hi' (no punctuation). This meant I ended up meeting a lot of 'I'm sorry;...' messages very early on.

I'm very new to open source

[2018-02-13 09:58] sync350 commented on #382
Could we create a dictionary or list of common greetings? And is there a way to ignore punctuation?
I'd be willing to take a stab at this one.

[2018-02-13 10:20] albiony commented on #382
Maybe something like this could work? The 'for' bit could be improved but it shows how you could strip punctuation out of the message:
![issue 1_feedback](https://user-images.githubusercontent.com/36374886/36144887-72db8d82-10a7-11e8-8c00-267ff4ff86d2.png)

[2018-02-14 20:12] sync350 commented on #382
Yeah, I think I could make that work. I'll go ahead and get working on this one.

[2018-02-14 23:32] albiony commented on #382
Thanks! Would you mind posting a link to the changes? Really curious to see how this one's resolved.

[2018-02-17 05:10] TommyMGun commented on #382
could probably use regex + dictionary

[2018-02-17 13:26] albiony commented on #382
Maybe something like this? Gets rid of the punctuation stripping function and seems to work well with the existing list in the hello.py module.
![issue 1_feedback1](https://user-images.githubusercontent.com/36374886/36341424-fdb3c9a6-13e5-11e8-8fef-0e86866b1806.png)

[2018-02-19 03:51] sync350 commented on #382
So I'm taking a look through the code, and it's been a while since I've contributed to this project. I can't seem to find where it actually parses the input to trigger the greetings in hello.py?

[2018-02-19 22:09] albiony commented on #382
So as I understand it:

The [hello.py](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/hello.py) module defines the input/output process. Then in the [main bot](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/jarvis.py) this is converted into a 'process()' function (line 22). Later on line 56 there's a request but I can't really make sense of it.

But I th

[2018-02-23 17:59] Rohithgilla12 commented on #327
Is this issue still open?
I am ready to take this.

[2018-02-27 05:12] utkarshdeep commented on #327
I have raised a PR. Still not merged.

[2018-02-28 11:34] kfragkedaki opened #384 "Request for contribution"
I found interesting your bot and I'd like to contribute to this. Is there anything that needs improvement?

[2018-02-28 21:03] A-Edusei opened #385 "New To Contributing"
---
Hi all,
I'm new to contributing and GitHub however I am very much intrigued by the JARVIS-on-Messenger project and would like to contribute to it. I'm hoping this will be a springboard to contribute further to this project.

# For feature suggestion
Add more facts, jokes, motivations and quotes

## Feature description:
Begin contributing on JARVIS-on-messenger by adding more lines of facts, jo

[2018-03-01 10:49] Krafty-Coder commented on #258
Is this done?

[2018-03-07 19:45] rakeshbachu opened #389 "difference between "latest news in India" and "latest news of India""
**Note:** Thanks for reporting an issue! Please make sure you click the link above to view the guidelines, then fill out the blanks below.
There are two templates. You can choose which one to use and delete the other one. Also, please remove the text in the brackets before you submit an issue

---

# For bug reporting
## What are the steps to reproduce this issue?
1. ask for latest news in India

[2018-03-08 10:45] OmerAhmedKhan commented on #309
@swapagarwal Can you please provide your review of the provided PR? Thanks

[2018-03-08 10:46] OmerAhmedKhan commented on #307
@swapagarwal same here

[2018-03-08 21:11] barbarkahoufkova commented on #112
is anybody working on this?

[2018-03-20 11:04] addyvm22 commented on #382
hello @albiony @wskinner74 the bot just sends the text entered to wit.ai and wit then returns a processed output giving the possible intent of the user and the confidence of the answer. If the confidence>50% only then is the intent considered as good. I checked these values for the specific string 'hi!' it returned intent='hello' but the confidence is just 0.352.  Thus the intent is not accepted.

[2018-03-20 11:07] addyvm22 commented on #382
I guess we should just add some of these exceptions to the wit notepad file on our pc--- JARVIS-on-Messenger-master\local\wit

[2018-03-21 08:46] casdidier commented on #258
I am also interested in this topic is it done ?

[2018-03-21 08:56] casdidier commented on #380
Hello Adrian,
It could be nice improvement to have this module.

First implement with optionals as source and Target would be nice to have at first ^^

Then So the issue would be to find a work around for the autodetection of language. When someone wants to translate from specific language to another language that is not English ?

For the implementation , I thought of google too at first when rea

[2018-03-23 17:49] swapagarwal commented on #258
@Krafty-Coder @casdidier This is still open.

[2018-03-23 18:12] swapagarwal commented on #340
The buttons just need to point to the URLs to make it easier for people to click.

[2018-03-23 18:29] callafeucht commented on #340
@swapagarwal thanks for letting me know, and thanks for the merge! I'll look into writing out the buttons as you mentioned.

[2018-03-23 18:29] #339 closed

[2018-03-27 18:14] swapagarwal opened #395 "Explore pre-commit hooks"
Explore if we can have a pre-commit hook to check the sorted order of modules in [__init__.py](https://github.com/swapagarwal/JARVIS-on-Messenger/blob/master/modules/src/__init__.py)

[2018-03-31 18:08] BassemEltonsy opened #397 "Improving (Powered By Movie DB) Image"
I wanted to improve the image "Powered By Movie DB" to look new
would you like to make this change ?

[2018-03-31 18:10] BassemEltonsy commented on #397
![image](https://user-images.githubusercontent.com/36636799/38166154-812729a4-351f-11e8-9166-2039606463c2.png)

[2018-04-02 03:46] aliyareneekhan commented on #395
Hi! I have never contributed to an open-source project before, but need to for a school project. Do you think this would be a reasonable bug for me to handle? I have used Python before.

Thanks

Aliya

[2018-04-02 17:31] swapagarwal commented on #395
Yep! Go ahead. Let me know if you face any issues. 😄

[2018-04-02 17:33] swapagarwal commented on #397
@BassemEltonsy Can we edit the image? From what I remember, these images are provided by them and we should attribute it without any change. Please verify! 😮

[2018-04-02 22:31] msultani commented on #337
@DanielDo98 have you worked on this? If not, I'd like to give it a shot.

[2018-04-03 03:06] msultani commented on #31
I'm gonna go ahead and pick this up.

[2018-04-04 18:09] swapagarwal commented on #385
Let me know if you face any issues! 😄

[2018-04-09 13:06] mbulhakov commented on #338
Hi!

I've made a pull request regarding this issue -- #402

[2018-04-09 20:25] khalilchoudhry commented on #365
@cyrokamogawa are you working on this issue or can i start looking into it?

[2018-04-10 01:54] cyrokamogawa commented on #365
Hi, go for it! I never got the time.

[2018-04-10 10:28] khalilchoudhry commented on #365
ok, I will start looking into it today.

[2018-04-14 17:59] swapagarwal opened #403 "Transitioning Google URL Shortener to Firebase Dynamic Links"
https://developers.googleblog.com/2018/03/transitioning-google-url-shortener.html

[2018-04-15 04:29] obscure76 commented on #403
I want to take this up. please let me know.

[2018-04-15 04:31] swapagarwal commented on #375
Thanks @JindalMohit for reporting the issue.
Also, kudos for investigating the root cause and proposing an alternative! 💯

[2018-04-15 04:33] #375 closed

[2018-04-15 04:35] swapagarwal commented on #403
@obscure76 Sure, go ahead!

[2018-04-18 05:50] palaparthi commented on #395
@aliyareneekhan are you still working on this?

[2018-04-21 04:51] swapagarwal commented on #395
@suhasjrv Take a look at https://githooks.com/

[2018-04-24 16:52] einsmein commented on #395
I've created a pre-commit hook for this. Should I add a directory for hooks so client can manually link to the hook?

[2018-04-24 17:11] swapagarwal commented on #395
Yes. Try adding it at `.git/hooks/pre-commit`

[2018-04-25 01:38] einsmein commented on #395
@swapagarwal I have already added it there, but .git is not pushed to remote. I'm wondering how you would like it to be added to this repo.

[2018-04-26 21:42] obscure76 commented on #403
Firebase dynamic links are not exactly a URL shortening service.
https://firebase.google.com/docs/dynamic-links/
From the documentation, "With Dynamic Links, your users get the best available experience for the platform they open your link on.".
May be we should move to bit.ly ?

[2018-04-29 00:31] #350 closed

[2018-05-01 14:33] paawan01 commented on #403
Hi !
I have started to work on this. Are you already done @obscure76 ?
Also what did we decide on Firebase V/S bit.ly ?

[2018-05-01 16:07] paawan01 commented on #340
Hey guys !
I just created a PR for the "Add buttons" aspect. Please have a review for the same.
Thanks !

[2018-05-01 22:11] obscure76 commented on #403
I did not complete it. I was waiting for @swapagarwal . I feel we should go with bit.ly. what do you think?

[2018-05-03 07:51] paawan01 commented on #403
I also feel given our use case bit.ly is more suitable (Not sure about how complicated it is to integrate with it's API's though).

[2018-05-05 07:11] Revel109 commented on #359
It would be awesome if you made it to NLP based. I'm recently working on NLP chatbots with nltk/keras. Though it's tough but would be cool if I can.

[2018-05-09 18:15] paawan01 commented on #380
Any updates on this ?
@adrianyi @casdidier

[2018-05-09 18:27] paawan01 commented on #374
How about this - http://fortunecookieapi.herokuapp.com/ ?
Any update on this ?

[2018-05-15 08:30] hiteshramani commented on #247
@swapagarwal Not sure if this requirement is taken care of. If not, have you thought of using New Relic?

[2018-05-18 06:12] utkarshdeep commented on #359
Actually I was working on NLP space, if @Revel109 we can work together that would be great. I get to learn a lot from you.

[2018-05-18 16:46] Revel109 commented on #359
Sure I will help you. Since I am not that much expert in nltk. Still learning for my thesis paper. Interested to contribute.

[2018-05-22 03:57] adrianyi commented on #380
Sorry I took part in a bootcamp for a bit and did not have time to work on this... I realized that Google translate is actually not free, haha, which led me to do some more research. I had to reinstall my OS and lost all progress, so I'll have to start over, sadly.
I'll get back on this in the next couple of weeks!

[2018-05-22 16:47] paawan01 commented on #380
@adrianyi No issues.
I'd love to work on this too. Do you mind sharing what are you doing so we can collaborate ?

[2018-05-26 06:42] anj96 opened #411 "Trending youtube videos"
Fetching trending videos from youtube based on user location would be a good feature to have.

P.S: This is the first time I am trying to contribute for open source project.

[2018-05-27 12:39] choijungp opened #412 "Add jokes to jokes.json"
I want to add jokes to jokes.json!
How about the jokes?
"What kind of witch lives on the beach?\n A sandwich"
"What do you call a fish without an eye?\n fsh"

Please read and leave your answer.

[2018-05-27 12:48] KIMSOOJIN97 opened #413 "Add a quote to quotes.json"
l want to addquotes to quotes.json
How about this quotes?
like this
"There is nothing permanent except change."
"When you reach the end of your rope, tie a knot in it and hang on."
"Let us sacrifice our today so that our children can have a better tomorrow."
"All that we see or seem is but a dream within a dream"
"The journey of a thousand miles begins with one step."

Pleadse read and leave your

[2018-05-27 12:49] limmiok opened #414 "Add new facts to fact.py"
I want to add a new facts to fact.py!!!!
How about this facts?
"In 1930 the Wright brothers flew for 59 seconds."
"38 years later the Japanese bombed Pearl Harbor."
"28 years after that, we landed on the moon.”

Please check!!!!!

[2018-05-27 12:57] sunminxxi opened #415 "Add the "motivation quote" to motivations.json. ( For duplication prevention, trends. )"
I want to add motivation quote to motivations.json!

How about this motivation quote?

"We are wasting our current precious time, suffering from things to forget for a year from now."
"I would rather fail in a cause that will ultimately triumph than to triumph in a cause that will ultimately fail."
"It's the soul's duty to be loyal to its own desires. It must abandon itself to its master passion."

[2018-05-29 04:36] adrianyi commented on #380
@paawan01 Would love to work together. This week is packed for me, but I should be relatively free starting Sunday night, so I'll dig up what I have so far then :)

A good alternative to Google translate may be Bing translate, which is free up to 2M characters. There's a free Russian one, but it's not very accurate...

[2018-05-30 07:28] casdidier commented on #380
Isn't it possible to launch search on Google search : <translate "input text" into English > and get the result by reading the HTML banner that is displayed usually on top on Google links . You see those quick access results pannel

[2018-06-02 03:32] jsanossian commented on #413
2 ways you can possibly do this in JSON:
    1) enclose the string in single quotes, in the form (instead of normally using double quotes).
` "quotes": [ '"There is nothing permanent except change."', ... ]`

    2) insert \" where you want double quotes, this is called 'escaping the character', it tells the computer to take the following character literally as that character in memory, instead of

[2018-06-03 11:37] choijungp opened #421 ""Roll a die" module is not working."
# For bug reporting

## What happens?
"Roll a die" module is not working.

## What were you expecting to happen?
Although I expected that searching the " roll a die " module when I exchanged instant messages with Jarvis would result in random dice photos, Jarvis did not respond.

[2018-06-03 12:07] limmiok opened #422 "I want to create a hate module."
I think the purpose of Jarvis on messanger is to communicate with people. I think adding a hate module is helpful for communication with people. So I will make a hate module and send a pull request. Please check.

[2018-06-03 12:11] sunminxxi opened #424 "I want to add in JARVIS -> "love" module~!"
I want to create a new module called love.
The reason is that I sent a message to JARVIS that i love you, but I did not get the right answer.
The word i love you means to believe in the other person and at the same time is pleasant.
If you do not answer the most basic word i love you, JARVIS will be disappointed.
I wanted to make it even closer between users and JARVIS by adding new modules.
This

[2018-06-03 12:16] choijungp opened #425 "I want to add "Food menu" module!"
**Note:** Thanks for reporting an issue! Please make sure you click the link above to view the guidelines, then fill out the blanks below.
There are two templates. You can choose which one to use and delete the other one. Also, please remove the text in the brackets before you submit an issue

---

# For bug reporting
I want to add "Food menu" module!
"Food menu" module works as follows:
users sen

[2018-06-03 12:32] KIMSOOJIN97 opened #431 "l want to modification news module"
I am going to modify the module to show news for that country

[2018-06-03 13:20] sunminxxi opened #454 "I would like to add a module for emoticon for various functions."
I still do not have enough features for emotions and emoticons. If you become JARVIS with rich sensitivity, users will be able to have fun chatting.
So I would like to add emoticon based on the emotion I want to add.

[2018-06-03 13:36] choijungp opened #463 "I want to add "place" module!"
# For New Module reporting
I want to add "Place" module!
 "place" module works as follows:
 users send "place" module to JARVIS then JARVIS pick one of many places to travel and send a message about the picked place to user!

## What happens?
When users search "place" module, JARVIS pick one of many places and send a message.

## Any ideas on how to implement it?
Add the "Place" module in wit.json

[2018-06-03 14:12] sunminxxi opened #467 "About the 'roll a die' error"
If you type 'roll a die', you will not get the answer.
Also, there is no answer.
Now the conversation itself is not possible.

[2018-06-03 14:13] sunminxxi opened #468 "In addition, JARVIS responded to the response"
JARVIS does not answer any word now. It does not even show help.
What should we do when this happens?
Thank you for your prompt action.

[2018-06-04 23:48] ftang1996 opened #482 "Currency Conversion is not working"
typing "usd to eur" does not work and neither does hitting the menu option for this

Jarvis responds with
"I couldn't convert between those currencies.
Please ask me something else, like:
  - HKD to USD
  - USD to EUR rate
  - how much is 100 USD to INR"

[2018-06-04 23:48] ftang1996 commented on #482
I would like to see if i can fix this issue if that's ok

[2018-06-06 07:43] choijungp opened #483 "I want to add "Calculator" module"
## For New Module reporting
I want to add "Calculator" module!
"Calculator" module works as follows:
users send "calculator" module to JARVIS then JARVIS return some basic calculation results.

## Any ideas on how to implement it?
Add the "Calculator" module in wit.json file and create Calculator.py file and test_calculator.py file to modules

[2018-06-06 12:39] KIMSOOJIN97 opened #487 "l want to add lucky module"
I want to add the module to look at the lucky of today so that people can see lucky for fun

[2018-06-07 06:19] prasadkatti opened #489 "Request: Module to check world cup fixtures and scores"
## Feature description:
Considering that World Cup 2018 is almost here, it would be great if we can have a module that will tell us today's fixtures and their scores.

## Any ideas on how to implement it?
One way would be to scrape websites like fotmob.com. I am not sure if there are any open apis that can be queried.

It would also be nice if there was a way to follow a certain team's fixtures/pr

[2018-06-15 10:12] ushirask opened #491 "Dice side images not working"
The images used for dice sides in Dice module are not currently working (ex: http://fa2png.io/media/icons/foundation-icon-fonts/2015-02-16/die-one/256/0/e74c3c_none.png )

[2018-06-21 10:52] rajalakshmi-v15 commented on #395
Hi. May I know if the issue is still open. The tag indicates that it is so but I saw that a pull request has already been accepted. Thanks.

[2018-07-08 16:11] shivank1234 opened #493 "Problems in running the project locally"
**Note:** Thanks for reporting an issue! Please make sure you click the link above to view the guidelines, then fill out the blanks below.
There are two templates. You can choose which one to use and delete the other one. Also, please remove the text in the brackets before you submit an issue

---

# For bug reporting
## What are the steps to reproduce this issue?
1. …
2. …
3. …

## What happens?

[2018-08-12 18:20] rnm-patel opened #494 "Improvement : fetching new data to offline-data storage files (data/*.json)"
# Improvement
### Description

* I have seen that after requesting same "joke" for some times it is repeating, no matter with how many new jokes you fill into that data/joke.json file there's time when you may get repetative jokes if one goes recursive of jokes query...So the solution to it is as ....
* Fetching new data to offline-data storage files (data/*.json) to avoid repetitive response ...

[2018-08-15 17:15] shivank1234 commented on #261
Is this issue still open?

[2018-08-16 07:01] adivandhya opened #495 "Two-Way Trello Integration with Jarvis-on-Messenger"
High Level Feature description:
- Two way integration between Jarvis and trello to enable CRUD operations to user's dashboards from Messenger, and pushing updates/alerts, reminders, metrics (charts, aggregate statistics, etc) to Messenger from Trello.

UseCases:
- **Scenario:** The user wants to add a task in his personal Trello dashboard under the user-defined List (for eg: "Finance") List to rem

[2018-08-17 02:35] ChristopherDaw commented on #482
Currency conversion is currently broken because the api request to `api.fixer.io` is invalid.  I looked into it and the free api access only gives 1,000 api requests per month.

A possible way around the limit per month would be scraping google after a conversion search.  I'm not sure of the legality of scraping Google for the currency conversion rate instead of sending an api request, however.

[2018-08-19 17:03] pawanr90 commented on #395
Hello, I am a new user to github. Can anyone tell me what exactly one can do to contribute to open source and how to solve an issue ?

[2018-09-03 01:14] Beastjdhr commented on #258
Hey! I'd like to work on this. In which file do I have to add this feature?

[2018-10-01 21:54] KyleRConway commented on #152
@swapagarwal -- Still open for a short animated gif of dice rolling and coin flipping? If so, can I take this issue?

Last question: is the animation going to also include the result (i.e. "heads" or "six")?

[2018-10-06 11:12] TPreece101 commented on #483
I will start working on this :-)

[2018-10-09 12:30] lovlin-thakkar commented on #258
@swapagarwal Is this issue still open? If yes, can you assist me with this? Thanks.

[2018-10-12 17:29] Nayan-Das commented on #31
I am interested.Can I take this if it is not solved yet.

[2018-10-13 04:57] msultani commented on #31
Yeah it’s all yours

[2018-10-15 11:58] #257 closed

[2018-10-20 05:16] swapagarwal opened #505 "JARVIS stopped replying to messages after September 28th!"
No deployments around that time-frame; Need to find the root cause..

[2018-10-24 23:41] dylmye commented on #340
Any update on this? It looks like the PR is good to go.

[2018-10-24 23:42] dylmye commented on #248
Am I good to finish off #292?

[2018-10-25 14:07] paawan01 commented on #340
@dylmye I guess it was good to be merged.
But I don't know why it hasn't been merged till now.
@swapagarwal Can you please merge it ?

[2018-10-25 23:32] HectorRoblesWolf commented on #411
is it already developed? i want to develop this feature

[2018-10-26 03:30] gustavoefeiche commented on #411
I'm not working on it anymore. Go on!

[2018-11-01 17:12] HectorRoblesWolf commented on #505
Can you verify if the token hasn't expired?

[2018-11-05 05:38] HectorRoblesWolf commented on #411
I finished this issue, this is the pull request
https://github.com/swapagarwal/JARVIS-on-Messenger/pull/514

[2018-11-05 13:20] f2015537 commented on #493
@swapagarwal I would like to work on this

[2018-11-05 14:55] jcconnol commented on #258
Since this is not being assigned to anyone and appears to still be open I will work on this too. I think I will take Jakod96's advice and just query Youtube since Spotify and Youtube are not connected in any way.

[2018-11-19 10:03] #384 closed

[2018-11-28 14:53] romankarski commented on #258
@swapagarwal
hi,
i need done some commit in python for my Python classes at Unicersity.
Is it still open ? Do you think is it proper for beginners to do this commit ? Can You give some advice where to start ? I have founded music.py for spotify

[2018-12-05 22:04] CiaranFahy commented on #258
I'll give it a go as I could have found a way to do it, but does anybody know how I could find an artist name and song name from the spotify link

[2018-12-07 16:51] swapagarwal commented on #505
@HectorRoblesWolf That was it! It's working now.

[2018-12-07 16:53] #505 closed

[2018-12-26 05:44] suryasr007 commented on #494
Hi

Why can't we use jokes open API's such as [chuck noris](http://www.icndb.com/api/) to fetch jokes?

For offline integration, we can store the fetched jokes.

[2019-01-06 07:50] shezis commented on #489
Hi @prasad. Scraping Sites can be a way to go but is extremely high maintenance due to the unpredictability of Website Design. A better approach would be to rely on an API which would provide such a feature but most are rate limited when it comes to free usage.

[2019-01-07 19:58] anand371 commented on #467
Could I be assigned this issue ..And some more info over it

[2019-01-08 07:13] anand371 commented on #467
I would like to work on this .. Can some more info be provided over. This

[2019-02-01 10:33] illichosky commented on #482
What's the status on this? I'd love to contribute to fix it

[2019-02-01 18:09] ChristopherDaw commented on #482
@illichosky Take a crack at it! I just diagnosed the issue, I wasn't planning on fixing it :+1:

[2019-02-03 23:08] illichosky commented on #482
@ChristopherDaw Hey Chris! I'd love to take this issue. I'm super busy this week, but I'm planning to PR a fix by next week. Could you assign me to the issue?

[2019-02-05 05:13] ChristopherDaw commented on #482
@illichosky I'm not in charge here and I didn't open the issue so I don't think I can assign you to it. When you're done you can always reference the issue from the PR.

[2019-03-03 10:22] ManojKJ27 opened #524 "Flip a Coin Bug"
# For bug reporting
## What are the steps to reproduce this issue?
1.Click on the Flip a Coin suggestion
2.Type in the command/message Flip a Coin

## What happens?
There is no response from Jarvis . When you type in another message(other than Flip a Coin) ,it responds promptly

## What were you expecting to happen?
Expecting a result like Head / Tail

## What versions of software are you using?
*

[2019-04-03 01:58] akshat00 commented on #338
is the issue still open

[2019-04-10 00:50] zsaeed2 commented on #258
This is my first open source project. I was wondering what you guys needed done and how I could contribute to it

[2019-05-19 04:17] Goutham88 commented on #524
Hi @ManojKJ27,
I have tried reproducing the same, but everything is working fine, I'm getting an image which represents a Head or Tail result. Could you please try again and update?

[2019-05-19 09:36] ManojKJ27 commented on #524
Ok sure !! I'll try again and update !!

Thank you
Manoj K J

On Sun, May 19, 2019, 9:47 AM Goutham Chunduru <notifications@github.com>
wrote:

[2019-05-20 19:14] bowling1 commented on #482
Perhaps the API used to pull the conversion rate json isn't issuing keys to this project anymore? I'm not horribly familiar with how it works, but I know that if data is not being pulled from the request, the exception (i.e. the error) will always be thrown.

[2019-05-24 15:35] kalmastenitin opened #530 "error while installing requirements.txt"
the following error occurred while installing requirements I am using fresh installation of python3.7

following error lines:
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "c:\python3.7\lib\urllib\request.py", line 1317, in do_open
        encode_chunked=req.has_header('Transfer-encoding'))
      File "c:\python3.7\lib\ht

[2019-06-06 19:01] wraithM17 opened #532 "module named src missing"
Title says it all.

[2019-06-10 02:36] gonfreces commented on #532
@wraithM17 Check the Structure section in README. The src file is inside the modules folder.

[2019-07-05 20:24] elkku26 commented on #258
I'm new to git, but here's my idea. Could we try to get the spotify page with the id, scrape that page for the name of the song, and use the YT API to look up the name of the song on YouTube and get a link? I know this is very clunky but the first thing that came to mind. Thougts?

[2019-09-03 01:32] chrisfoose commented on #337
Can I give this a shot?  I really don't know what I'm doing but I suppose I can figure it out.

[2019-09-05 16:50] MikeyBeez opened #535 "can this be built on a virtual machine?"
**Note:** Thanks for reporting an issue! Please make sure you click the link above to view the guidelines, then fill out the blanks below.
There are two templates. You can choose which one to use and delete the other one. Also, please remove the text in the brackets before you submit an issue

---

# For bug reporting
## What are the steps to reproduce this issue?
1. …
2. …
3. …

## What happens?

[2019-09-16 05:04] PredatorFeesh opened #536 "Update to Python3?"
Python2 is coming to its end of life soon, should there be an attempt to update to Python3?

[2019-09-18 00:38] rickotten commented on #536
I think this is a good idea. I'd love to put my efforts into some modernization

[2019-09-20 03:33] GavinAF commented on #536
I'm with both of y'all. I'm gonna go ahead and give this a shot.

[2019-09-21 19:29] PredatorFeesh commented on #536
I have started work on this [https://github.com/PredatorFeesh/JARVIS-on-Messenger/tree/Python3Update](here), I have done a pull request too check it out [https://github.com/swapagarwal/JARVIS-on-Messenger/pull/537](here). Would appreciate more help with this.

[2019-09-21 20:15] rickotten commented on #536
Cool I'll check it out in the next day or two

[2019-09-21 21:09] PredatorFeesh commented on #536
Check the Python3Update branch when you can, majority of what I'll be doing will be in there.

[2019-09-24 15:36] rickotten commented on #536
Cool. Gonna have to check it out later this week... been a busy few days.

[2019-09-25 16:08] ritesh-pandey commented on #395
Is the issue still open?